/* -------------------------------------------------- */
/*    Definition List
/* -------------------------------------------------- */

.m-definitionList {
  @include fb();
  @include ft(s(1), s(2), padding-left padding-right);
}

.m-definitionList__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  border: 1px solid c('black-25');
  border-top: none;
  font-size: fs('ms-1');
}

.m-definitionList__listTerm {
  @include ft(s(1), s(2), padding-left padding-right);
  @include ft(vr(1/2), vr(1), padding-top);
  border-top: 1px solid c('black-25');
  font-weight: 700;
  @include fc(12);

  .fonts-loaded & {
    font-family: ff('sans-serif');
  }

  @include media('>=m') {
    @include ft(vr(1/2), vr(1), padding-top padding-bottom);
    @include fc(3);
  }
}

.m-definitionList__listDescription {
  @include ft(s(1), s(2), padding-left padding-right);
  @include ft(vr(1/2), vr(1), padding-bottom);
  @include fc(12);

  @include media('>=m') {
    @include ft(vr(1/2), vr(1), padding-top padding-bottom);
    border-top: 1px solid c('black-25');
    @include fc(9);
  }
}

// Row Layout
.m-definitionList--layout-row {
  .m-definitionList__listTerm {
    padding-bottom: 0;
    @include fc(12);
  }

  .m-definitionList__listDescription {
    padding-top: 0;
    @include fc(12);
    border: none;
  }
}

// Table Layout
.m-definitionList--layout-table {
  @include media('>=m') {
    // 50-50
    &.m-definitionList--columsRatio-50-50 {
      .m-definitionList__listTerm {
        @include fc(6);
      }

      .m-definitionList__listDescription {
        @include fc(6);
      }
    }

    // 33-66
    &.m-definitionList--columsRatio-33-66 {
      .m-definitionList__listTerm {
        @include fc(4);
      }

      .m-definitionList__listDescription {
        @include fc(8);
      }
    }

    // 25-75
    &.m-definitionList--columsRatio-25-75 {
      .m-definitionList__listTerm {
        @include fc(3);
      }

      .m-definitionList__listDescription {
        @include fc(9);
      }
    }
  }
}
