/* -------------------------------------------------- */
/*    Image Slider
/* -------------------------------------------------- */

@import '../../../../assets/css/vendors/flickity/flickity';

.m-imageSlider {
  @include fc(12);
  @include ft(s(0.75), s(1.5), padding-left padding-right);
  margin-bottom: 0;

  &--with-navi {
    padding-bottom: vr(2);
  }

  &::after {
    content: 'flickity';
    display: none;

    /*@include media('>=s') {
      content: 'flickity';
      display: none;
    }*/
  }
}

.m-imageSlider__slide {
  width: 100%;

  .m-figure {
    @include ft(s(0.25), s(0.5), padding-left padding-right);
    margin-bottom: 0;
  }

  .m-figure__image {
    width: 100%;
  }
}

.m-imageSlider {
  @include media('>=s') {
    &--6cols,
    &--5cols,
    &--4cols,
    &--3cols,
    &--2cols {
      .m-imageSlider__slide {
        width: calc(100% / 2);
      }
    }
  }

  @include media('>=m') {
    &--6cols,
    &--5cols,
    &--4cols{
      .m-imageSlider__slide {
        width: calc(100% / 4);
      }
    }
  }

  @include media('>=l') {
    &--6cols {
      .m-imageSlider__slide {
        width: calc(100% / 6);
      }
    }

    &--5cols {
      .m-imageSlider__slide {
        width: calc(100% / 5);
      }
    }
  }
}

// Flickity Styling
.m-imageSlider {
  .flickity-viewport {
    overflow: visible;
  }
}


.flickity-page-dots {
  list-style: none;
  height: 50px;
  bottom: 0;
  height: vr(2);
  display: flex;
  flex: row wrap;
  justify-content: center;
  align-items: center;
  display: none;

  @include media('>=s') {
    display: block;
  }

  .dot {
    width: 5px;
    height: 5px;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

// Arrows
.flickity-prev-next-button {
  background: none;
  border-radius: 0;
  width: 80px;
  height: vr(2);
  margin: 0;
  top: auto;
  bottom: 0;
  cursor: pointer;
  padding: 0;
  z-index: 50;
  transform: none;
  background-size: auto 24px;
  background-repeat: no-repeat;
  transition: background-position 0.25s ease-out;

  &:disabled {
    opacity: 0;
  }

  svg {
    display: none;
  }

  &.previous {
    background: url('../images/svg/single/iconArrowLeft.svg');
    background-repeat: no-repeat;
    background-position: center left s(1);
    @include ft(s(1), s(2), left);

    &:hover {
      background-position: center left;
    }
  }

  &.next {
    background: url('../images/svg/single/iconArrowRight.svg');
    background-repeat: no-repeat;
    background-position: center right s(1);
    @include ft(s(1), s(2), right);

    &:hover {
      background-position: center right;
    }
  }
}

.swiper-button-next {
  @include ft(s(1), s(2), right);

  svg {
    float: right;
    transform: translatex(s(-1));
  }

  &:hover {
    svg {
      transform: translatex(0);
    }
  }
}

.swiper-button-prev {
  @include ft(s(1), s(2), left);

  svg {
    float: left;
    transform: translatex(s(1));
  }

  &:hover {
    svg {
      transform: translatex(0);
    }
  }
}

.swiper-button-disabled {
  opacity: 0.1 !important;
}

// Pagination
.swiper-pagination {
  height: 30px;
  line-height: 30px;
  font-family: ff('sans-serif');
  font-size: fs('ms-1');
  bottom: vr(1.5) !important;

  &-fraction {
    span {
      display: inline-block;
      min-width: 20px;
    }
  }

  &-bullets {
    display: none;

    @include media('>=s') {
      display: block;
    }

    .swiper-pagination-bullet {
      position: relative;
      background-color: c('black-50');
      top: -1px;
    }

    .swiper-pagination-bullet-active {
      background-color: c('black');
    }
  }
}
