/* --------------------------------------------------

   .a-button
   -------------------------------------------------- */

.a-button {
  background: color('red');
  font-weight: 700;
  color: color('white');
  font-size: fontSize('m');
  border: none;
  padding: 20px;
  display: inline-block;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
  transition: all .5s ease-out;

  .no-touchevents &:hover {
    color: color('white');
    background: darken(color('red'), 5%);
  }
}

.a-button--blue {
  background: color('blue');

  .no-touchevents &:hover {
    color: color('white');
    background: darken(color('blue'), 5%);
  }
}

.a-button--center {
  @include center();
}

.a-button--full {
  width: 100%;
}



/* --------------------------------------------------
   .a-buttonWrapper
   -------------------------------------------------- */

.a-buttonWrapper {
  @include row();

  &--center {
    text-align: center;
  }
}
