//  --------------------------------------------------------
//  .m-button
//  --------------------------------------------------------

.m-button {
  background: c('free-speech-red');
  font-weight: 700;
  color: c('white');
  @include ft($msFont-min, $msFont-max);
  border: none;
  padding: vr(1) s(2);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: all .5s ease('out-cubic');

  &:hover {
    color: c('white');
    background: darken(c('free-speech-red'), 5%);
  }
}


.m-button--full {
  width: 100%;
}


//  --------------------------------------------------------
//  .m-buttonGroup
//  --------------------------------------------------------

.m-buttonGroup {
  @include container();

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}
