/* -------------------------------------------------- */
/*    Separator
/* -------------------------------------------------- */

.m-separatorWrapper {
  /* empty */
}

.m-separator {
  position: relative;
  border: 0;
}

// Margin Vertical
.m-separator--marginVertical-none {
  margin-top: 0;
  margin-bottom: 0;
}

.m-separator--marginVertical-medium {
  @include f(s(2), s(6), margin-top margin-bottom);
}

.m-separator--marginVertical-large {
  @include f(s(2), s(8), margin-top margin-bottom);
}


// Styles
.m-separator--style-default {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: c('black', '50');
  }
}

