/* -------------------------------------------------- */
/*    .o-block
/* -------------------------------------------------- */

.o-block {
  width: 100%;
  margin-bottom: s(2);
  position: relative;

  > *:last-child {
    margin-bottom: 0;
  }
}

.o-section__inner > .o-block:last-child {
  margin-bottom: 0;
}

// Different Alignments
.o-block--left {
  text-align: left;
}

.o-block--center {
  text-align: center;
}

.o-block--right {
  text-align: right;
}
