/* -------------------------------------------------- */
/*    .o-block
/* -------------------------------------------------- */

.o-block {
  display: block;
  text-align: center;
}

.o-block__img {
  margin-bottom: vr(1);

  // Different Sizes
  .o-block--flush > & {
    margin-bottom: 0;
  }

  .o-block--small > & {
    margin-bottom: vr(2);
  }

  .o-block--large > & {
    margin-bottom: vr(3);
  }

  .o-block--huge > & {
    margin-bottom: vr(4);
  }
}

.o-block__body {
  display: block;
}

// Different Alignments
.o-block--right {
  text-align: right;
}

.o-block--left {
  text-align: left;
}
