/* -------------------------------------------------- */
/*    .o-listInline
/* -------------------------------------------------- */

.o-listInline {
  margin-left: 0;
  list-style: none;
}

.o-listInline__item {
  display: inline-block;
}

$dh-list-inline-delimiter: ',\00A0' !default;

.o-listInline--delimited {
  font-size: 0;

  > .o-listInline__item {
    font-size: fs('ms0');
  }

  > .o-listInline__item + .o-listInline__item {
    &::before {
      content: ''#{$dh-list-inline-delimiter}'';
    }
  }
}

