/* -------------------------------------------------- */
/*    .o-section
/* -------------------------------------------------- */

.o-section {
  @include fb(true);
  @include center();
  overflow: hidden;
  @include f(s(1), s(2), padding-top padding-bottom);
  @include f(s(2), s(4), padding-left padding-right);
  background-color: c('black-10');
}

// Width
.o-section--width-full {
  @include fb();
}

// Background Color
.o-section--bgColor-white {
  background-color: c('white');
}

.o-section--bgColor-black {
  background-color: c('black');
}

// Padding Vertical
.o-section--paddingVertical-none {
  padding-top: 0;
  padding-bottom: 0;
}

.o-section--paddingVertical-small {
  @include f(s(1), s(2), padding-top padding-bottom);
}

.o-section--paddingVertical-medium {
  @include f(s(1), s(4), padding-top padding-bottom);
}

.o-section--paddingVertical-large {
  @include f(s(1), s(8), padding-top padding-bottom);
}

// Headline
.o-section__headline {
  @include fc(12);
  @include f(s(2), s(4), padding-left padding-right);
  @include f(s(2), s(8), margin-bottom);
  text-align: center;
}

// Subline
.o-section__subline {
  @include fc(12);
  @include f(s(2), s(4), padding-left padding-right);
  @include f(s(2), s(8), margin-bottom);
  text-align: center;

  .o-section__headline + & {
    @include f(s(-1), s(-6), margin-top);
  }
}
