/* -------------------------------------------------- */
/*    .o-block
/* -------------------------------------------------- */

.o-block {
  width: 100%;
  margin-bottom: vr(1);
  position: relative;

  .o-section &:last-child {
    margin-bottom: 0;
  }
}

// Different Alignments
.o-block--left {
  text-align: left;
}

.o-block--center {
  text-align: center;
}

.o-block--right {
  text-align: right;
}
