/* -------------------------------------------------- */
/*    .o-row
/* -------------------------------------------------- */

.o-row {
  width: 100%;
  @include f(s(1), s(2), margin-top);
  position: relative;

  &:first-child {
    margin-top: 0;
  }
}

// Different Alignments
.o-row--left {
  text-align: left;
}

.o-row--center {
  text-align: center;
}

.o-row--right {
  text-align: right;
}
