/* -------------------------------------------------- */
/*    .o-wrapper
/* -------------------------------------------------- */

.o-wrapper {
  @include clearfix;
  @include gutter(1);
  margin-right: auto;
  margin-left: auto;
  max-width: $dh-maxWidth;
}


// Size variants
.o-wrapper--small {
  @include gutter(2);
}

.o-wrapper--large {
  @include gutter(3);
}

.o-wrapper--huge {
  @include gutter(4);
}
