/* -------------------------------------------------- */
/*    .o-grid
/* -------------------------------------------------- */

.o-grid {
  @if $dh-flexbox {
    @include flexbox(true);
  } @else {
    @include container(true);
  }

  @include center();

  &--full {
    @if $dh-flexbox {
      @include flexbox();
    } @else {
      @include container();
    }
  }
}


.o-grid__inner {
  @if $dh-flexbox {
    @include flexbox(true);
  } @else {
    @include container(true);
  }

  @include center();

  &--full {
    @if $dh-flexbox {
      @include flexbox();
    } @else {
      @include container();
    }
  }
}


.o-col {
  @if $dh-flexbox {
    @include flexcols(12);
  } @else {
    @include cols(12);
  }

  @include gg();

  &--noGutter {
    @include gutter(0);
  }

  &:last-child > *:last-child {
    margin-bottom: 0;
  }
}

.o-grid--2er > .o-grid__inner .o-col {
  @if $dh-flexbox {
    @include flexcols(12);
  } @else {
    @include cols(12);
  }

  @include media('>=s') {
    @if $dh-flexbox {
      @include flexcols(6);
    } @else {
      @include cols(6);
    }
  }
}

.o-grid--3er > .o-grid__inner .o-col {
  @if $dh-flexbox {
    @include flexcols(12);
  } @else {
    @include cols(12);
  }

  @include media('>=s') {
    @if $dh-flexbox {
      @include flexcols(4);
    } @else {
      @include cols(4);
    }
  }
}

.o-grid--4er > .o-grid__inner .o-col {
  @if $dh-flexbox {
    @include flexcols(12);
  } @else {
    @include cols(12);
  }

  @include media('>=s') {
    @if $dh-flexbox {
      @include flexcols(6);
    } @else {
      @include cols(6);
    }
  }

  @include media('>=m') {
    @if $dh-flexbox {
      @include flexcols(3);
    } @else {
      @include cols(3);
    }
  }
}

.o-grid--6er > .o-grid__inner .o-col {
  @if $dh-flexbox {
    @include flexcols(12);
  } @else {
    @include cols(12);
  }

  @include media('>=s') {
    @if $dh-flexbox {
      @include flexcols(2);
    } @else {
      @include cols(2);
    }
  }
}

.o-grid--12er > .o-grid__inner .o-col {
  @if $dh-flexbox {
    @include flexcols(1);
  } @else {
    @include cols(1);
  }
}
