/* -------------------------------------------------- */
/*    .o-section
/* -------------------------------------------------- */

.o-section {
  @include fb(true);
  @include center();
  @include ft(s(2), s(4), padding-top padding-bottom);
}

// Width
.o-section--width-full {
  width: 100vw;
  max-width: none;
}

// Background Color
.o-section--bgColor-white {
  background-color: c('white');
}

.o-section--bgColor-black {
  background-color: c('black');
}

// Padding Vertical
.o-section--paddingVertical-none {
  padding-top: 0;
  padding-bottom: 0;
}

.o-section--paddingVertical-small {
  @include ft(s(2), s(4), padding-top padding-bottom);
}

.o-section--paddingVertical-medium {
  @include ft(s(2), s(6), padding-top padding-bottom);
}

.o-section--paddingVertical-large {
  @include ft(s(2), s(8), padding-top padding-bottom);
}

// Headline
.o-section__headline {
  @include fc(12);
  @include ft(s(2), s(4), padding-left padding-right);
  @include ft(s(2), s(8), margin-bottom);
  text-align: center;
}

// Subline
.o-section__subline {
  @include fc(12);
  @include ft(s(2), s(4), padding-left padding-right);
  @include ft(s(2), s(8), margin-bottom);
  text-align: center;

  .o-section__headline + & {
    @include ft(s(-1), s(-6), margin-top);
  }
}

// Section Inner
.o-section__inner {
  @include fb(true);
  @include center();
}

.o-section__inner--width-full {
  @include fb(true);
}
