{#
  Master Layout
  --------------------------------------------------

  This i the basic layout. Feel free to modify
#}

<!DOCTYPE html>
<html class="no-js" lang="de">
<head>

  {# Meta #}
  {% include '../_partials/_header/_meta.html' %}

  {# Scripts #}
  {% include '../_partials/_header/_scripts.html' %}

  {# Favicon #}
  {% include '../_partials/_header/_favicons.html' %}

</head>
<body id="home" {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>

<div class="c-appWrapper">

  <header class="c-appHeader">
  {% block appHeader %}
    Header
  {% endblock %}
  </header>

  <div class="c-appContent">
  {% block appContent %}
    Content
  {% endblock %}
  </div>

  <footer class="c-appFooter">
  {% block appFooter %}
    Footer
  {% endblock %}
  </footer>

</div>

{# Include Scripts, Fonts, Google Analyticy #}
{% include '../_partials/_footer/_scripts.html' %}
