/* -------------------------------------------------- */
/*    Accordion Label
/* -------------------------------------------------- */

.m-accordionWrapper {
  /* empty */
}

.m-accordion {
  &__item {
    position: relative;
    overflow: hidden;

    &:first-child {
      @include make-vr();
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: c('black', '50');
    }

    &:last-child {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: c('black', '50');
      }
    }
  }

  &__trigger {
    cursor: pointer;
  }

  &__headline {
    @include f(s(1), s(2), padding-top padding-bottom);
    @include f(s(6), s(12), padding-right);
    @include f(s(1), s(2), padding-left);
    position: relative;
    font-size: fs('ms0');
    font-weight: 700;

    .wf-loaded & {
      font-family: ff('sans-serif');
    }

    &::before,
    &::after {
      content: '';
      width: 20px;
      height: 4px;
      position: absolute;
      @include f(s(1), s(2), right);
      top: calc(50% - 2px);
      background-color: c('black', '50');
      transition: all 0.25s ease('out-cubic');
    }

    &::after {
      transform: rotate(-90deg);
    }

    &:hover {
      &::before,
      &::after {
        background-color: c('black');
      }
    }

    .is-open & {
      &::before,
      &::after {
        background-color: c('black');
      }

      &::after {
        transform: rotate(0deg);
      }
    }
  }

  &__content {
    display: none;
    @include make-section-padding(1);
    @include clearfix();

    .o-row {
      opacity: 0;
    }

    &.fadeIn {
      .o-row {
        opacity: 1;
        transition: opacity 0.5s ease('out-cubic');
      }
    }
  }
}
