/* -------------------------------------------------- */
/*    Images
/* -------------------------------------------------- */

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

img[width],
img[height] {
  max-width: none;
}
