/*--------------------------------------------------
    #PAGE
  --------------------------------------------------*/

html {
  font-size: fs('base');
  line-height: lh(1);
  overflow-y: scroll;
  min-height: 100%;
}
