/*--------------------------------------------------
    #PAGE
  --------------------------------------------------*/

html {
  @include fluid-type(font-size, $msWidth-min, $msWidth-max, $msFont-min, $msFont-max);
  line-height: $lineHeight-base;
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
}
