/* -------------------------------------------------- */
/*    Page
/* -------------------------------------------------- */

html {
  @include ft($msFont-min, $msFont-max);
  line-height: $lineHeight-base;
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
}
