/* --------------------------------------------------

   Grid
   -------------------------------------------------- */

$column__width:         120px;
$gutter__width:         20px;
$columns:               12;



/* --------------------------------------------------

   Colors
   -------------------------------------------------- */

$colors: (
  // Basic Colors
  'white':              #fff,
  'black':              #000,
  'black--05':              darken(#fff, 5%),
  'black--10':              darken(#fff, 10%),
  'black--15':              darken(#fff, 15%),
  'black--20':              darken(#fff, 20%),
  'black--25':              darken(#fff, 25%),
  'black--30':              darken(#fff, 30%),
  'black--35':              darken(#fff, 35%),
  'black--40':              darken(#fff, 40%),
  'black--45':              darken(#fff, 45%),
  'black--50':              darken(#fff, 50%),
  'black--55':              darken(#fff, 55%),
  'black--60':              darken(#fff, 60%),
  'black--65':              darken(#fff, 65%),
  'black--70':              darken(#fff, 70%),
  'black--75':              darken(#fff, 75%),
  'black--80':              darken(#fff, 80%),
  'black--85':              darken(#fff, 85%),
  'black--90':              darken(#fff, 90%),
  'black--95':              darken(#fff, 95%),

  // CI Colors
  'red':                #f00,
  'green':              #0f0,
  'blue':               #00f,
);


// Color Vars
$_white:                map-get($colors, 'white');
$_black:                map-get($colors, 'black');
$_red:                  map-get($colors, 'red');
$_green:                map-get($colors, 'green');
$_blue:                 map-get($colors, 'blue');



/* --------------------------------------------------

   Box Shadows
   -------------------------------------------------- */

$boxshadows: (
  'layer--01':          (0 0 10px 0 rgba(0,0,0,.15)),
);



/* --------------------------------------------------

   Borders
   -------------------------------------------------- */

$borders: (

  'white':              1px solid $_white,
  'white--2':           2px solid $_white,
  'white--2--dotted':   2px dotted $_white,

  'trans':              1px solid transparent,
);



/* --------------------------------------------------

   Font Stuff
   -------------------------------------------------- */

$fonts: (
  'basic':              ('Vollkorn', Georgia, "Times New Roman", Times, serif),
  'headline':           ('Lato', Helvetica, Arial, sans-serif),
);

$fontSizes: (
  's':                  12px, // 18 / 1.5
  'base':               18px,
  'm':                  27px, // 18 * 1.5
  'l':                  40px, // 27 * 1.5
  'xl':                 60px, // 40 * 1.5
);

$base_font_family:      map-get($fonts, 'basic');
$base_font_size:        map-get($fontSizes, 'base');
$base_font_scale:       1.6;
$base_line_height:      1.5;



/* --------------------------------------------------

   Horizontal Breakpoints
   Add more if you need
   -------------------------------------------------- */

// min or max
$media-direction:       min;

// Breakpoints
$breakpoints: (
  'default':            '',
  'xs':                 480px,
  's':                  667px,
  'm':                  1024px,
  'l':                  1280px,
  'xl':                 1680px,
);



/* --------------------------------------------------

   Vertical Breakpoints
   Add more if you need
   -------------------------------------------------- */

// min or max
$media-direction-v:     max;

// Breakpoints
$breakpoints-v: (
  's':                  600px,
  'm':                  800px,
  'l':                  1000px,
);
