/* -------------------------------------------------- */
/*    .m-appHeader
/* -------------------------------------------------- */

.m-appHeader {
  $root: &;
  background-color: c('black', '10');

  &__inner {
    // empty
  }
}
