/* -------------------------------------------------- */
/*    [data-waypoint]
/* -------------------------------------------------- */

[data-waypoint] {
  &.fadeInUp {
    opacity: 0;
    transform: translate3d(0, 50px, 0);

    &.is-animated {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &.fadeInDown {
    opacity: 0;
    transform: translate3d(0, -50px, 0);

    &.is-animated {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &.fadeInLeft {
    opacity: 0;
    transform: translate3d(50px, 0, 0);

    &.is-animated {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &.fadeInRight {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);

    &.is-animated {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
