{% set headlineTags = [
  {
    "name": "H1",
    "value": "h1"
  },
  {
    "name": "H2",
    "value": "h2"
  },
  {
    "name": "H3",
    "value": "h3"
  },
  {
    "name": "H4",
    "value": "h4"
  },
  {
    "name": "H5",
    "value": "h5"
  },
  {
    "name": "H6",
    "value": "h6"
  }
] %}

{"value": "", "label": "Headline Size…", "default": true},
{% for headlineTag in headlineTags %}
  {"value": "{{ headlineTag.value }}", "label": "{{ headlineTag.name}}"}
  {% if not loop.last%},{% endif %}
{% endfor %}
