/* -------------------------------------------------- */
/*    .m-input
/* -------------------------------------------------- */

.m-input,
.m-input:focus {
  // stylelint-disable
  -webkit-appearance: none;
  // stylelint-enable
  outline: none;
  border: 0;
}

input:not([type='submit']),
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='search'],
input[type='tel'],
input[type='file'],
textarea,
select {
  // stylelint-disable
  -webkit-appearance: none;
  // stylelint-enable
  @include fs('ms0');
  outline: 0;
  display: inline-block;
  width: 100%;
  padding: s(1/2) s(1);
  background: c('white');
  border: 1px solid c('black', '40');
  color: c('black', '90');
  margin-bottom: s(1);
  border-radius: 3px;
  transition: all 0.5s ease('out-cubic');

  &:focus {
    background-color: c('white');
    border-color: c('black', '80');
  }
}

input[type='file'] {
  border-style: dotted;
}

textarea {
  resize: vertical;
  width: 100%;
  min-height: 100px;
}

select {
  width: 100%;
  background: url('../images/svg/single/iconAccordion.svg');
  background-repeat: no-repeat;
  background-position: center right s(2);
  background-size: 16px 16px;
}

// Placeholder Color
::placeholder {
  color: c('black', '40');
}
