/* -------------------------------------------------- */
/*    Button
/* -------------------------------------------------- */

.m-button {
  @include container();
  text-align: center;
  @include ft(s(1), s(2), padding-left padding-right);
}

.m-button__link {
  display: inline-block;
  padding: vr(1/2) s(1.5);
  @include fs('ms-1');
  font-family: ff('sans-serif');
  text-decoration: none;
  border-radius: 2px;
}

.m-button--primary {
  background-color: c('black-50');
  color: c('white');
}

.m-button--primary:hover {
  background-color: darken(c('black-50'), 10%);
  color: c('white');
}

.m-button--secondary {
  background-color: c('black-20');
  color: c('black-90');
}

.m-button--secondary:hover {
  background-color: darken(c('black-20'), 10%);
  color: c('black-90');
}

.m-button--left {
  float: left;
}

.m-button--center {
  @include center();
}

.m-button--right {
  float: right;
}

.m-button--full {
  width: 100%;
}

// With Icon
.m-button--withIcon {
  svg {
    position: relative;
  }
}

.m-button__iconWrapper {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
}

.m-button--icon.m-button--primary {
  svg {
    fill: c('white');
  }
}

.m-button--iconSize-16px {
  @include fs('ms0', 15px);

  svg {
    width: 16px;
    height: 16px;
  }
}

.m-button--iconSize-24px {
  @include fs('ms1', 23px);

  svg {
    width: 24px;
    height: 24px;
  }
}

.m-button--iconPosition-left {
  span {
    order: 1;
  }

  svg {
    margin-right: s(1/2);
  }
}

.m-button--iconPosition-right {
  svg {
    margin-left: s(1/2);
  }
}
