/* -------------------------------------------------- */
/*    Button
/* -------------------------------------------------- */

.m-button {
  display: inline-block;
  font-size: fs('ms0');
  color: c('white');
  background-color: c('black-50');
  text-decoration: none;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;

  svg {
    fill: c('white');
  }

  &--primary {
    color: c('white');
    background-color: c('black-90');
  }

  &--primary:hover {
    background-color: c('black');
  }

  &--secondary {
    font-size: fs('ms-1');
    background-color: c('black-70');
  }

  &--secondary:hover {
    color: c('black-80');
  }

  &--left {
    float: left;
  }

  &--center {
    @include center();
  }

  &--right {
    float: right;
  }

  &--full {
    width: 100%;
  }
}
