{#
  <%= moduleName %>
  ======================================================================================================================
#}

{# -- Set Defaults -- #}
{% set defaults = {
  classname: 'm-<%= moduleName %>',
  foo: 'bar'
} %}

{% set options = options is defined ? defaults|merge(options) : defaults %}

{# -- Modul -- #}
<div class="o-col  {{ options.classname }}">
  <div class="{{ options.classname ~ '__inner' }}">
    <%= moduleName %>  {{ options.foo == 'bar' ? 'foo' : 'bar' }}
  </div>
</div>

