{# base.twig #}
<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block appTitle %}Boilerplate{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- Styles -->
  <link rel="stylesheet" href="assets/css/app.min.css">

  <!-- Modernizr -->
  <script src="assets/js/vendor/modernizr-custom.min.js"></script>

  <!-- Google Fonts -->
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [
        'Vollkorn:400,700italic,700,400italic:latin',
        'Lato:400,300,300italic,700,400italic,700italic,900,900italic,100,100italic:latin'
      ]}
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- humans.txt — http://humanstxt.org -->
  <link type="text/plain" rel="author" href="humans.txt" />

  <!-- Favicon -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Boilerplate"/>
  <meta name="msapplication-TileColor" content="#E60000" />
  <meta name="msapplication-TileImage" content="assets/images/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="assets/images/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="assets/images/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="assets/images/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="assets/images/favicon/mstile-310x310.png" />

</head>
<body>

<!-- appWrapper -->
<div class="appWrapper">

  <header class="appHeader">
  {% block appHeader %}
    Header
  {% endblock %}
  </header>

  <div class="appContent">
  {% block appContent %}
    Content
  {% endblock %}
  </div>

  <footer class="appFooter">
  {% block appFooter %}
    Footer
  {% endblock %}
  </footer>

</div>

<!-- JS Scripts & Plugins -->
<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/app.min.js"></script>

<!-- Google Analytics JavaScript here -->

<!-- BrowserSync -->
<script type='text/javascript' id="__bs_script__">//<![CDATA[
  document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.11.js'><\/script>".replace
  ("HOST", location.hostname));
  //]]></script>
</body>
</html>
