/* -------------------------------------------------- */
/*    .m-appWrapper
/* -------------------------------------------------- */

.m-appWrapper {
  font-weight: 400;
  color: c('black', '90');
  background: c('white');

  .wf-loaded & {
    font-family: ff('base');
  }
}
