/* -------------------------------------------------- */
/*    Accordion Label
/* -------------------------------------------------- */

.m-accordion {
  @include ft(s(2), s(4), padding-top padding-bottom);
}

.m-accordion__item {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    @include ft(s(2), s(4), left right);
    height: 1px;
    background-color: c('black-10');
  }

  &:last-child {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      @include ft(s(2), s(4), left right);
      height: 1px;
      background-color: c('black-10');
    }
  }
}
.m-accordion__trigger {
  cursor: pointer;
  @include ft(s(2), s(4), padding-left padding-right);
}

.m-accordion__headline {
  @include ft(s(1), s(2), padding-top padding-bottom);
  @include ft(s(6), s(12), padding-right);
  position: relative;
  margin: 0;
  font-size: fs('ms0');
  font-weight: 700;

  .wf-loaded & {
    font-family: ff('sans-serif');
  }

  &::before,
  &::after {
    content: '';
    width: 20px;
    height: 4px;
    position: absolute;
    @include ft(s(2), s(4), right);
    @include ft(20px, 34px, top);
    background-color: c('black-10');
    transition-property: background-color, transform;
    transition: 0.25s ease-out;
  }

  &::after {
    transform: rotate(-90deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: c('black');
    }
  }

  .is-open & {
    &::before,
    &::after {
      background-color: c('black');
    }

    &::after {
      transform: rotate(0deg);
    }
  }
}

.m-accordion__content {
  display: none;
  @include clearfix();

  .o-block {
    opacity: 0;
  }

  &.fadeIn {
    .o-block {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }
  }
}

// Modul Overwrites
.m-accordion {
  // Rich Text
  .m-richText {
    @include fc(12);
    margin: 0;
  }

  // Headline
  .m-headline {
    @include fc(12);
    @include push(0);
  }
}
