#footer {
  margin-top: 50vh;
}

.blocks .matrixblock {
  width: calc(94% - 28px);
  margin-left: 6%;
}


.blocks .mc-solid-contentSection {
  width: calc(100% - 28px);
  margin-top: 40px;
  margin-left: 0;
}

.blocks .mc-solid-accordionLabel {
  width: calc(97% - 28px);
  margin-top: 20px;
  margin-left: 3%;
}

.blocks .matrixblock:first-child {
  margin-top: 10px;
}

.ni_blocks .ni_block:first-child {
  margin-top: 10px;
}


.ni_blocks .ni_block {
  width: 95%;
  margin-left: 5%;
}

.ni_blocks .ni_block--contentSection,
.ni_block_children .ni_block {
  width: 100%;
  margin-left: 0%;
}

.ni_block--contentSection .ni_block_topbar {
  height: 40px;
  line-height: 40px;
  background-color: #E4E5E6;
}

.ni_block--contentSection .ni_block_topbar_item.tabs .tab {
  height: 40px;
}
