{
  "groups": [
    "Content Builder",
    "Settings",
    "Singles"
  ],
  "fields": [
    {
      "group": "Settings",
      "name": "Settings: Button",
      "handle": "settingsButton",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Style",
                "handle": "style",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Primary",
                      "value": "primary",
                      "default": 1
                    },
                    {
                      "label": "Secondary",
                      "value": "secondary",
                      "default": ""
                    }
                  ]
                }
              },
              "new2": {
                "name": "Alignment",
                "handle": "alignment",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Left",
                      "value": "left",
                      "default": 1
                    },
                    {
                      "label": "Center",
                      "value": "center",
                      "default": ""
                    },
                    {
                      "label": "Right",
                      "value": "right",
                      "default": ""
                    },
                    {
                      "label": "Full",
                      "value": "full",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: ButtonGroup",
      "handle": "settingsButtonGroup",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Style",
                "handle": "style",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Primary",
                      "value": "primary",
                      "default": 1
                    },
                    {
                      "label": "Secondary",
                      "value": "secondary",
                      "default": ""
                    }
                  ]
                }
              },
              "new2": {
                "name": "Alignment",
                "handle": "alignment",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Left",
                      "value": "left",
                      "default": 1
                    },
                    {
                      "label": "Center",
                      "value": "center",
                      "default": ""
                    },
                    {
                      "label": "Right",
                      "value": "right",
                      "default": ""
                    },
                    {
                      "label": "Full",
                      "value": "full",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Definition List",
      "handle": "settingsDefinitionList",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Columns Ratio",
                "handle": "columnsRatio",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "1:1",
                      "value": "50-50",
                      "default": 1
                    },
                    {
                      "label": "1:2",
                      "value": "33-66",
                      "default": ""
                    },
                    {
                      "label": "1:3",
                      "value": "25-75",
                      "default": ""
                    }
                  ]
                }
              },
              "new2": {
                "name": "Layout",
                "handle": "layout",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Table Layout",
                      "value": "table",
                      "default": 1
                    },
                    {
                      "label": "Row Layout",
                      "value": "row",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Embed",
      "handle": "settingsEmbed",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Video",
                "handle": "video",
                "instructions": "",
                "required": 0,
                "type": "Lightswitch",
                "width": "",
                "typesettings": {
                  "default": 1
                }
              },
              "new2": {
                "name": "Embed Position",
                "handle": "embedPosition",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Left",
                      "value": "left",
                      "default": 1
                    },
                    {
                      "label": "Center",
                      "value": "center",
                      "default": ""
                    },
                    {
                      "label": "Right",
                      "value": "right",
                      "default": ""
                    }
                  ]
                }
              },
              "new3": {
                "name": "Embed: Width",
                "handle": "embedWidth",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Full",
                      "value": "full",
                      "default": 1
                    },
                    {
                      "label": "Three Quarter",
                      "value": "threeQuarter",
                      "default": ""
                    },
                    {
                      "label": "Half",
                      "value": "half",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Headline",
      "handle": "settingsHeadline",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Size",
                "handle": "size",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "H2",
                      "value": "h2",
                      "default": 1
                    },
                    {
                      "label": "H3",
                      "value": "h3",
                      "default": ""
                    },
                    {
                      "label": "H4",
                      "value": "h4",
                      "default": ""
                    },
                    {
                      "label": "H5",
                      "value": "h5",
                      "default": ""
                    },
                    {
                      "label": "H6",
                      "value": "h6",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Image Cover",
      "handle": "settingsImageCover",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Background Position",
                "handle": "backgroundPosition",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Focalpoint",
                      "value": "focalpoint",
                      "default": 1
                    },
                    {
                      "label": "Left : Top",
                      "value": "0% 0%",
                      "default": ""
                    },
                    {
                      "label": "Left : Center",
                      "value": "0% 50%",
                      "default": ""
                    },
                    {
                      "label": "Left : Bottom",
                      "value": "0% 100%",
                      "default": ""
                    },
                    {
                      "label": "Center : Top",
                      "value": "50% 0%",
                      "default": ""
                    },
                    {
                      "label": "Center : Center",
                      "value": "50% 50%",
                      "default": ""
                    },
                    {
                      "label": "Center : Bottom",
                      "value": "50% 100%",
                      "default": ""
                    },
                    {
                      "label": "Right : Top",
                      "value": "100% 0%",
                      "default": ""
                    },
                    {
                      "label": "Right : Center",
                      "value": "100% 50%",
                      "default": ""
                    },
                    {
                      "label": "Right : Bottom",
                      "value": "100% 100%",
                      "default": ""
                    }
                  ]
                }
              },
              "new2": {
                "name": "Text Vertical Position",
                "handle": "textVerticalPosition",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Top",
                      "value": "top",
                      "default": ""
                    },
                    {
                      "label": "Center",
                      "value": "center",
                      "default": ""
                    },
                    {
                      "label": "Bottom",
                      "value": "bottom",
                      "default": 1
                    }
                  ]
                }
              },
              "new3": {
                "name": "Text Alignment",
                "handle": "textAlignment",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Left",
                      "value": "left",
                      "default": ""
                    },
                    {
                      "label": "Center",
                      "value": "center",
                      "default": 1
                    },
                    {
                      "label": "Right",
                      "value": "right",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Image Gallery",
      "handle": "settingsImageGallery",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Colums",
                "handle": "columns",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": 6,
                      "value": 6,
                      "default": 1
                    },
                    {
                      "label": 5,
                      "value": 5,
                      "default": ""
                    },
                    {
                      "label": 4,
                      "value": 4,
                      "default": ""
                    },
                    {
                      "label": 3,
                      "value": 3,
                      "default": ""
                    },
                    {
                      "label": 2,
                      "value": 2,
                      "default": ""
                    }
                  ]
                }
              },
              "new2": {
                "name": "Image Thumbs Ratio",
                "handle": "imageThumbsRatio",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Landscape",
                      "value": "landscape",
                      "default": ""
                    },
                    {
                      "label": "Square",
                      "value": "square",
                      "default": 1
                    },
                    {
                      "label": "Portrait",
                      "value": "portrait",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Image Grid",
      "handle": "settingsImageGrid",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Caption",
                "handle": "caption",
                "instructions": "",
                "required": 0,
                "type": "Lightswitch",
                "width": "",
                "typesettings": {
                  "default": ""
                }
              },
              "new2": {
                "name": "Columns",
                "handle": "columns",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": 3,
                      "value": 3,
                      "default": ""
                    },
                    {
                      "label": 2,
                      "value": 2,
                      "default": 1
                    },
                    {
                      "label": 1,
                      "value": 1,
                      "default": ""
                    }
                  ]
                }
              },
              "new3": {
                "name": "Image Ratio",
                "handle": "imageRatio",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Landscape",
                      "value": "landscape",
                      "default": ""
                    },
                    {
                      "label": "Square",
                      "value": "square",
                      "default": 1
                    },
                    {
                      "label": "Portrait",
                      "value": "portrait",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Image Single",
      "handle": "settingsImageSingle",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Caption",
                "handle": "caption",
                "instructions": "",
                "required": 0,
                "type": "Lightswitch",
                "width": "",
                "typesettings": {
                  "default": ""
                }
              },
              "new2": {
                "name": "Image Position",
                "handle": "imagePosition",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Left",
                      "value": "left",
                      "default": ""
                    },
                    {
                      "label": "Center",
                      "value": "center",
                      "default": 1
                    },
                    {
                      "label": "Right",
                      "value": "right",
                      "default": ""
                    }
                  ]
                }
              },
              "new3": {
                "name": "Image Ratio",
                "handle": "imageRatio",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Landscape",
                      "value": "landscape",
                      "default": 1
                    },
                    {
                      "label": "Square",
                      "value": "square",
                      "default": ""
                    },
                    {
                      "label": "Portrait",
                      "value": "portrait",
                      "default": ""
                    }
                  ]
                }
              },
              "new4": {
                "name": "Image Width",
                "handle": "imageWidth",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Full",
                      "value": "full",
                      "default": 1
                    },
                    {
                      "label": "Three Quarter",
                      "value": "threeQuarter",
                      "default": ""
                    },
                    {
                      "label": "Half",
                      "value": "half",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Image Slider",
      "handle": "settingsImageSlider",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Image Ratio",
                "handle": "imageRatio",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Landscape",
                      "value": "landscape",
                      "default": 1
                    },
                    {
                      "label": "Square",
                      "value": "square",
                      "default": ""
                    },
                    {
                      "label": "Portrait",
                      "value": "portrait",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Section",
      "handle": "settingsSection",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Section Options",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Background Color",
                "handle": "backgroundColor",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Default",
                      "value": "default",
                      "default": 1
                    },
                    {
                      "label": "Black",
                      "value": "black",
                      "default": ""
                    },
                    {
                      "label": "White",
                      "value": "white",
                      "default": ""
                    }
                  ]
                }
              },
              "new2": {
                "name": "Full Width",
                "handle": "fullWidth",
                "instructions": "",
                "required": 0,
                "type": "Lightswitch",
                "width": "",
                "typesettings": {
                  "default": ""
                }
              },
              "new3": {
                "name": "Padding Vertical",
                "handle": "paddingVertical",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "None",
                      "value": "none",
                      "default": ""
                    },
                    {
                      "label": "Default",
                      "value": "default",
                      "default": 1
                    },
                    {
                      "label": "Medium",
                      "value": "medium",
                      "default": ""
                    },
                    {
                      "label": "Large",
                      "value": "large",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Separator",
      "handle": "settingsSeparator",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Style",
                "handle": "style",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "Default",
                      "value": "default",
                      "default": 1
                    }
                  ]
                }
              },
              "new2": {
                "name": "Margin Vertical",
                "handle": "marginVertical",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "None",
                      "value": "none",
                      "default": ""
                    },
                    {
                      "label": "Default",
                      "value": "default",
                      "default": 1
                    },
                    {
                      "label": "Medium",
                      "value": "medium",
                      "default": ""
                    },
                    {
                      "label": "Large",
                      "value": "large",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Settings",
      "name": "Settings: Two Columns",
      "handle": "settingsTwoColumns",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": 1,
        "selectionLabel": "Add a row",
        "maxRows": null,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Columns Ratio",
                "handle": "columnsRatio",
                "instructions": "",
                "required": 0,
                "type": "Dropdown",
                "width": "",
                "typesettings": {
                  "options": [
                    {
                      "label": "1:1",
                      "value": "50-50",
                      "default": ""
                    },
                    {
                      "label": "2:1",
                      "value": "66-33",
                      "default": ""
                    },
                    {
                      "label": "3:1",
                      "value": "75-25",
                      "default": ""
                    },
                    {
                      "label": "1:3",
                      "value": "25-75",
                      "default": ""
                    },
                    {
                      "label": "1:2",
                      "value": "33-66",
                      "default": ""
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Singles",
      "name": "Single: Anchor",
      "handle": "singleAnchor",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": "",
        "initialRows": 4
      }
    },
    {
      "group": "Singles",
      "name": "Single: Button",
      "handle": "singleButton",
      "instructions": "",
      "required": false,
      "type": "FruitLinkIt",
      "typesettings": {
        "types": [
          "email",
          "tel",
          "custom",
          "entry",
          "category",
          "asset"
        ],
        "defaultText": "Click here",
        "allowCustomText": 1,
        "allowTarget": 1,
        "entrySources": [],
        "entrySelectionLabel": "Select an entry",
        "assetSources": "*",
        "assetSelectionLabel": "Select an asset",
        "categorySources": "*",
        "categorySelectionLabel": "Select a category"
      }
    },
    {
      "group": "Singles",
      "name": "Single: Button Group",
      "handle": "singleButtonGroup",
      "instructions": "",
      "required": false,
      "type": "SuperTable",
      "typesettings": {
        "fieldLayout": "row",
        "staticField": null,
        "selectionLabel": "Add a Button",
        "maxRows": 5,
        "blockTypes": {
          "new": {
            "fields": {
              "new1": {
                "name": "Button",
                "handle": "button",
                "instructions": "",
                "required": 0,
                "type": "FruitLinkIt",
                "width": "",
                "typesettings": {
                  "types": [
                    "email",
                    "tel",
                    "custom",
                    "entry",
                    "category",
                    "asset"
                  ],
                  "defaultText": "",
                  "allowCustomText": 1,
                  "allowTarget": 1,
                  "entrySources": [],
                  "entrySelectionLabel": "Select an entry",
                  "assetSources": "*",
                  "assetSelectionLabel": "Select an asset",
                  "categorySources": "*",
                  "categorySelectionLabel": "Select a category"
                }
              }
            }
          }
        }
      }
    },
    {
      "group": "Singles",
      "name": "Single: Definition List",
      "handle": "singleDefinitionList",
      "instructions": "",
      "required": false,
      "type": "Table",
      "typesettings": {
        "columns": {
          "col1": {
            "heading": "Definition Term",
            "handle": "definitionTerm",
            "width": "",
            "type": "singleline"
          },
          "col2": {
            "heading": "Definition Description",
            "handle": "definitionDescription",
            "width": "",
            "type": "singleline"
          }
        },
        "defaults": {
          "row1": {
            "col1": "",
            "col2": ""
          }
        }
      }
    },
    {
      "group": "Singles",
      "name": "Single: Embed Code",
      "handle": "singleEmbedCode",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": 1,
        "initialRows": 2
      }
    },
    {
      "group": "Singles",
      "name": "Single: Headline",
      "handle": "singleHeadline",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": "",
        "initialRows": 4
      }
    },
    {
      "group": "Singles",
      "name": "Single: Image",
      "handle": "singleImage",
      "instructions": "",
      "required": false,
      "type": "Assets",
      "typesettings": {
        "useSingleFolder": 1,
        "sources": "*",
        "defaultUploadLocationSource": "siteImages",
        "defaultUploadLocationSubpath": "",
        "singleUploadLocationSource": "siteImages",
        "singleUploadLocationSubpath": "",
        "restrictFiles": 1,
        "allowedKinds": [
          "image"
        ],
        "limit": 1,
        "viewMode": "list",
        "selectionLabel": "Add an Image"
      }
    },
    {
      "group": "Singles",
      "name": "Single: Images",
      "handle": "singleImages",
      "instructions": "",
      "required": false,
      "type": "Assets",
      "typesettings": {
        "useSingleFolder": 1,
        "sources": "*",
        "defaultUploadLocationSource": "siteImages",
        "defaultUploadLocationSubpath": "",
        "singleUploadLocationSource": "siteImages",
        "singleUploadLocationSubpath": "",
        "restrictFiles": 1,
        "allowedKinds": [
          "image"
        ],
        "limit": "",
        "viewMode": "list",
        "selectionLabel": "Add an Image"
      }
    },
    {
      "group": "Singles",
      "name": "Single: Label",
      "handle": "singleLabel",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": "",
        "initialRows": 4
      }
    },
    {
      "group": "Singles",
      "name": "Single: Quote",
      "handle": "singleQuote",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": 1,
        "initialRows": 4
      }
    },
    {
      "group": "Singles",
      "name": "Single: Rich Text",
      "handle": "singleRichText",
      "instructions": "",
      "required": false,
      "type": "RichText",
      "typesettings": {
        "configFile": "Custom.json",
        "availableAssetSources": "*",
        "availableTransforms": "*",
        "cleanupHtml": 1,
        "purifyHtml": 1,
        "columnType": "text"
      }
    },
    {
      "group": "Singles",
      "name": "Single: Source",
      "handle": "singleSource",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": "",
        "initialRows": 4
      }
    },
    {
      "group": "Singles",
      "name": "Single: Source Url",
      "handle": "singleSourceUrl",
      "instructions": "",
      "required": false,
      "type": "FruitLinkIt",
      "typesettings": {
        "types": [
          "custom"
        ],
        "defaultText": "",
        "allowCustomText": 1,
        "allowTarget": "",
        "entrySources": [],
        "entrySelectionLabel": "Select an entry",
        "assetSources": "*",
        "assetSelectionLabel": "Select an asset",
        "categorySources": "*",
        "categorySelectionLabel": "Select a category"
      }
    },
    {
      "group": "Singles",
      "name": "Single: Subline",
      "handle": "singleSubline",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": "",
        "initialRows": 4
      }
    },
    {
      "group": "Singles",
      "name": "Single: Text",
      "handle": "singleText",
      "instructions": "",
      "required": false,
      "type": "PlainText",
      "typesettings": {
        "placeholder": "",
        "maxLength": "",
        "multiline": "",
        "initialRows": 4
      }
    },
    {
      "group": "Content Builder",
      "name": "Content Builder: Neo",
      "handle": "contentBuilderNeo",
      "instructions": "",
      "required": false,
      "type": "Neo",
      "typesettings": {
        "maxBlocks": null,
        "groups": {
          "name": [
            "Content Wrapper",
            "Text Modules",
            "Image Modules",
            "Button Modules",
            "More Modules\u2026"
          ],
          "sortOrder": [
            1,
            7,
            13,
            19,
            22
          ]
        },
        "blockTypes": {
          "new0": {
            "sortOrder": 2,
            "name": "Content Section",
            "handle": "contentSection",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleHeadline",
                "singleSubline"
              ],
              "Settings": [
                "singleAnchor",
                "settingsSection"
              ]
            }
          },
          "new1": {
            "sortOrder": 3,
            "name": "Accordion",
            "handle": "accordion",
            "maxBlocks": null,
            "childBlocks": [
              "accordionContent"
            ],
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": []
            }
          },
          "new2": {
            "sortOrder": 4,
            "name": "Accordion Content",
            "handle": "accordionContent",
            "maxBlocks": null,
            "childBlocks": [
              "twoColumns",
              "headline",
              "richText",
              "richTextMarginals",
              "quote",
              "imageGallery",
              "imageGrid",
              "imageSingle",
              "button",
              "buttonGroup",
              "definitionList",
              "embed",
              "separator"
            ],
            "maxChildBlocks": null,
            "topLevel": 0,
            "fieldLayout": {
              "Content": [
                "singleLabel"
              ]
            }
          },
          "new3": {
            "sortOrder": 5,
            "name": "Two Columns",
            "handle": "twoColumns",
            "maxBlocks": null,
            "childBlocks": [
              "column"
            ],
            "maxChildBlocks": 2,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [],
              "Settings": [
                "settingsTwoColumns"
              ]
            }
          },
          "new4": {
            "sortOrder": 6,
            "name": "Column",
            "handle": "column",
            "maxBlocks": null,
            "childBlocks": [
              "accordion",
              "headline",
              "richText",
              "quote",
              "imageGallery",
              "imageGrid",
              "imageSingle",
              "button",
              "buttonGroup",
              "definitionList",
              "embed",
              "separator"
            ],
            "maxChildBlocks": null,
            "topLevel": 0,
            "fieldLayout": []
          },
          "new5": {
            "sortOrder": 8,
            "name": "Headline",
            "handle": "headline",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleHeadline"
              ],
              "Settings": [
                "settingsHeadline"
              ]
            }
          },
          "new6": {
            "sortOrder": 9,
            "name": "Rich Text",
            "handle": "richText",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": 2,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleRichText"
              ]
            }
          },
          "new7": {
            "sortOrder": 10,
            "name": "Rich Text Marginals",
            "handle": "richTextMarginals",
            "maxBlocks": null,
            "childBlocks": [
              "marginalColumn"
            ],
            "maxChildBlocks": 2,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleRichText"
              ]
            }
          },
          "new8": {
            "sortOrder": 11,
            "name": "Marginal Column",
            "handle": "marginalColumn",
            "maxBlocks": null,
            "childBlocks": [
              "quote",
              "imageSingle"
            ],
            "maxChildBlocks": 1,
            "topLevel": 0,
            "fieldLayout": []
          },
          "new9": {
            "sortOrder": 12,
            "name": "Quote",
            "handle": "quote",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleQuote",
                "singleSource",
                "singleSourceUrl"
              ]
            }
          },
          "new10": {
            "sortOrder": 14,
            "name": "Image Cover",
            "handle": "imageCover",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleImage",
                "singleText"
              ],
              "Settings": [
                "settingsImageCover"
              ]
            }
          },
          "new11": {
            "sortOrder": 15,
            "name": "Image Gallery",
            "handle": "imageGallery",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleImages"
              ],
              "Settings": [
                "settingsImageGallery"
              ]
            }
          },
          "new12": {
            "sortOrder": 16,
            "name": "Image Grid",
            "handle": "imageGrid",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleImages"
              ],
              "Settings": [
                "settingsImageGrid"
              ]
            }
          },
          "new13": {
            "sortOrder": 17,
            "name": "Image Single",
            "handle": "imageSingle",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleImage"
              ],
              "Settings": [
                "settingsImageSingle"
              ]
            }
          },
          "new14": {
            "sortOrder": 18,
            "name": "Image Slider",
            "handle": "imageSlider",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleImages"
              ],
              "Settings": [
                "settingsImageSlider"
              ]
            }
          },
          "new15": {
            "sortOrder": 20,
            "name": "Button",
            "handle": "button",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleButton"
              ],
              "Settings": [
                "settingsButton"
              ]
            }
          },
          "new16": {
            "sortOrder": 21,
            "name": "Button Group",
            "handle": "buttonGroup",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": 5,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleButtonGroup"
              ],
              "Settings": [
                "settingsButtonGroup"
              ]
            }
          },
          "new17": {
            "sortOrder": 23,
            "name": "Definition List",
            "handle": "definitionList",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleDefinitionList"
              ],
              "Settings": [
                "settingsDefinitionList"
              ]
            }
          },
          "new18": {
            "sortOrder": 24,
            "name": "Embed",
            "handle": "embed",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [
                "singleEmbedCode"
              ],
              "Settings": [
                "settingsEmbed"
              ]
            }
          },
          "new19": {
            "sortOrder": 25,
            "name": "Separator",
            "handle": "separator",
            "maxBlocks": null,
            "childBlocks": "",
            "maxChildBlocks": null,
            "topLevel": 1,
            "fieldLayout": {
              "Content": [],
              "Settings": [
                "settingsSeparator"
              ]
            }
          }
        }
      }
    }
  ]
}
