{#
  Master Layout
  --------------------------------------------------

  This i the basic layout. Feel free to modify
#}

<% if (craftHearty) { %>
  {% set rootUrl = craft.config.environmentVariables.rootUrl %}
<% } else { %>
  {% set rootUrl = siteUrl %}
<% } %>

{# Include Macros #}
{% import '_macros/_macro-isActive.html' as macroIsActive %}
{% import '_macros/_macro-pagination.html' as macroPagination %}
{% import '_macros/_macro-postNav.html' as macroPostNav %}
{% import '_macros/_macro-resImage.html' as macroResImage %}
{% import '_macros/_macro-socialLinks.html' as macroSocialLinks %}
{% import '_macros/_macro-svgSprite.html' as macroSvgSprite %}
{% import '_macros/_macro-amNav.html' as macroAmNav %}
{% import '_macros/_macro-srcset.html' as macroSrcset %}

<!DOCTYPE html>
<html class="" lang="de">
<head>

  {# -- LOADS CSS -- #}
  <script>
    {{ source('_inlineJS/loadCSS.min.js') }}
    {{ source('_inlineJS/cssrelpreload.min.js') }}
  </script>

  {# -- WEBFONTS HERE -- #}

  {# -- CRITICAL CSS -- #}
  {% set cacheVal = getCookie('critical-css') %}
  {% if not cacheVal or craft.config.devMode %}
    {{ setCookie('critical-css', now | date_modify("+7 days").timestamp ) }}
    {% block appInlineCSS %}
    {% endblock %}
    <link rel="preload" href="{{ rootUrl }}assets/css/app.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ rootUrl }}assets/css/app.min.css"></noscript>
  {% else %}
    <script>
      document.documentElement.className += " wf-loaded"
    </script>
    <link rel="stylesheet" href="{{ rootUrl }}assets/css/app.min.css">
  {% endif %}

  {# -- CHECK JS -- #}
  {% include '_partials/_global/_checkJS.html' %}

  {# -- META -- #}
  {% include '_partials/_header/_meta.html' %}

  {# -- SCRIPTS -- #}
  {% include '_partials/_header/_scripts.html' %}

  {# -- SEO & TITLE TAG -- #}
  {% include '_partials/_header/_seo.html' %}

  {# -- FAV ICON -- #}
  {% include '_partials/_header/_favicons.html' %}

  {% block siteHeader %}{% endblock %}
</head>
{% cache %}
{% minify %}
<body id="home" class="{{ bodyClass is defined ? bodyClass ~ '  ' : '' }}{{ craft.request.isLivePreview ? 'is-livePreview' : '  ' }}">

<div class="m-appWrapper">
  {# -- App Header -- #}
  {% include '_modules/_appHeader/_appHeader.template.html' %}

  <div class="m-appContent">
  {% block appContent %}
    Content
  {% endblock %}
  </div>

  {# -- App Footer -- #}
  {% include '_modules/_appFooter/_appFooter.template.html' %}
</div>

{# -- SCRIPTS -- #}
{% include '_partials/_footer/_scripts.html' %}
</body>
{% endminify %}
{% endcache %}
</html>
