{#
  Master Layout
  --------------------------------------------------

  This i the basic layout. Feel free to modify
#}

<% if (craftHearty) { %>
  {% set rootUrl = craft.config.environmentVariables.rootUrl %}
<% } else { %>
  {% set rootUrl = siteUrl %}
<% } %>

{# Include Macros #}
{% import '_macros/_macro-isActive.html' as macroIsActive %}
{% import '_macros/_macro-pagination.html' as macroPagination %}
{% import '_macros/_macro-postNav.html' as macroPostNav %}
{% import '_macros/_macro-resImage.html' as macroResImage %}
{% import '_macros/_macro-socialLinks.html' as macroSocialLinks %}
{% import '_macros/_macro-svgSprite.html' as macroSvgSprite %}
{% import '_macros/_macro-amNav.html' as macroAmNav %}

<!DOCTYPE html>
<html class="" lang="de">
<head>

  {# Critical CSS #}
  <style>
  {% include 'critical.min.css.html' %}
  </style>

  {# Preloader #}
  {% include '_partials/_global/_preloader.html' %}

  {# Meta #}
  {% include '_partials/_header/_meta.html' %}

  {# Scripts #}
  {% include '_partials/_header/_scripts.html' %}

  {# Seo Stuff / Title Tag #}
  {% include '_partials/_header/_seo.html' %}

  {# Favicon #}
  {% include '_partials/_header/_favicons.html' %}

  {% block appHeader %}{% endblock %}
</head>
<body id="home" class="{{ bodyClass is defined ? bodyClass ~ '  ' : '' }}{{ craft.request.isLivePreview ? 'is-livePreview' : '  ' }}">


<div class="m-appWrapper">

  <header class="m-appHeader">
  {% block appHeader %}
    Header
  {% endblock %}
  </header>

  <div class="m-appContent">
  {% block appContent %}
    Content
  {% endblock %}
  </div>

  <footer class="m-appFooter">
  {% block appFooter %}
    Footer
  {% endblock %}
  </footer>

</div>

{# Include Scripts, Fonts, Google Analyticy #}
{% include '_partials/_footer/_scripts.html' %}
</body>
</html>
