{#
  News Entry Template
  --------------------------------------------------

  When you view a single news on the website, this template gets loaded.
#}



{% extends "_layouts/_master.html" %}
{% set bodyClass = "single-news" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# start: Rel Nav #}
{% block siteHeader %}
  {% set vars = {
    section: 'blog',
    order: 'postDate'
  } %}
  {% include '_partials/_header/_siteHeaderLinks--single.html' with vars %}
{% endblock %}



{% block appContent %}

  {# Content Builder #}
  {% include '_contentBuilders/_contentBuilderNeo' %}

{% endblock %}
