{#
  News Overview
  --------------------------------------------------

  When you view the news overview on the website, this template gets loaded.
#}



{% extends "_layouts/_master.html" %}
{% set bodyClass = "news" %}
{% if craft.seomatic is defined %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': 'News' }) %}
{% else %}
  {% set appTitle = 'News' %}
{% endif %}




{# Set Query #}
{% set data = craft.entries({
  section: 'news',
  limit: 12
}) %}
{% paginate data as pageInfo, pageEntries %}

{# start: Rel Nav #}
{% block siteHeader %}
  {% set vars = {
    pageInfo: pageInfo
  } %}
  {% include '_partials/_header/_siteHeaderLinks.html' with vars %}
{% endblock %}



{% block content %}
  <h1>News</h1>

  {% for entry in craft.entries.section('news').find() %}
    <article>
      <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
      <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
      {{ entry.body.getPage(1) }}
      <p><a href="{{ entry.url }}">Continue reading</a></p>
    </article>
  {% endfor %}
{% endblock %}
