/* -------------------------------------------------- */
/*    .m-appWrapper
/* -------------------------------------------------- */

.m-appWrapper {
  font-weight: 400;
  color: c('black-90');
  background: c('white');
  font-family: ff('base');
  opacity: 0;
  transition-property: opacity;
  will-change: opacity;
  transition-timing-function: ease('out-cubic');
}


.js .m-appWrapper {
  opacity: 0;
}


.js .is-complete .m-appWrapper {
  opacity: 1;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}


.js .js-pageTransition .m-appWrapper {
  opacity: 0;
  transition-duration: 250ms;
}
