/* -------------------------------------------------- */
/*    Links
/* -------------------------------------------------- */

a {
  color: c('red');
  text-decoration: none;
  transition: all 0.25s ease('out-cubic');

  &:hover {
    color: darken(c('red'), 10%);
  }
}
