{#
  404 Template
  --------------------------------------------------

  Page not found? This template gets loaded.
#}



{% extends '_layouts/_master.html' %}
{% set bodyClass = "p-404" %}
{% if craft.seomatic is defined %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': '404 &mdash; Page not found' }) %}
{% else %}
  {% set appTitle = '404 &mdash; Page not found' %}
{% endif %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block appContent %}
  <h1>404 &mdash; Page not found</h1>
  <p>
    Oh no, this page is missing… Sorry!<br>
    Back to <a href="{{ siteUrl }}">Home</a>
  </p>
{% endblock %}
