{# Set Attributes
  {% set attr = {
    image: '',
    class: 'c-image',
    sizes: [
      { width: 1680 },
      { width: 960 },
      { width: 480 }
    ],
    style: 'img',
    quality: 80,
    mode: 'crop',
    position: '50% 50%',
    ratio: '',
    caption: '',
    dominantColor: 'yes',
    effects: { grayscale: true },
  } %}

  _m.resImage(attr)
#}


{% macro resImage(attr) %}

  {# Set Defaults #}
  {% set defaults = {
    image: '',
    class: 'c-image',
    sizes: [
      { width: 1680 },
      { width: 960 },
      { width: 480 }
    ],
    style: 'img',
    quality: 80,
    mode: 'crop',
    position: '50% 50%',
    ratio: '',
    caption: '',
    dominantColor: 'yes',
    effects: {},
  } %}


  {# Merge Attr with Defaults #}
  {% set attr = attr ? defaults|merge(attr) : defaults %}


  {# Set Ratio #}
  {% if attr.ratio|length %}
    {% set ratio = attr.ratio|split(':') %}
    {% set base64Ratio = ratio|split(':') %}
    {% set ratio = ratio|first/ratio|last %}
  {% else %}
    {% set imageSize = attr.image.width ~ ':' ~ attr.image.height %}
    {% set base64Ratio = imageSize|split(':') %}
    {% set ratio = '' %}
  {% endif %}


  {# Set Position #}
  {% set position = image.focalPoint|default(attr.position) %}


  {# Define global variables #}
  {% set imageSettings = {
    jpegQuality: attr.quality,
    mode: attr.mode,
    position: position,
    ratio: ratio,
    effects: attr.effects
  } %}


  {# Image #}
  {% if attr.image %}
    {% set images = craft.imager.transformImage(attr.image, attr.sizes, imageSettings) %}
    {% set dominantColor = craft.imager.getDominantColor(images|last, 20) %}

    {% if attr.style == 'img' %}
      <figure class="{{ attr.class }}" style="background-color: {{ dominantColor }}">
        <img class="lazyload  {{ attr.class ~ '__image' }}"
             src="{{ images|last.url }}"
             srcset="{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}"
             data-srcset="{{ craft.imager.srcset(images) }}"
             data-sizes="auto"
             alt="{{ attr.image.title }}" />
        {% if attr.caption|length %}
          <figcaption>
            {{ attr.caption|raw }}
          </figcaption>
        {% endif %}
      </figure>

    {% else %}

      <figure class="{{ attr.ratio | length ? 'o-ratio  o-ratio--' ~ attr.ratio : '' }}  {{ attr.class }}  lazyload"
              style="background-image: url('{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}');
                background-position: {{ position }};
              {{ not attr.ratio | length ? 'padding-bottom:' ~ images[0].height / images[0].width * 100 ~ ';' : '' }} background-color: {{ dominantColor }}"
              data-bgset="{{ craft.imager.srcset(images) }}"
              data-sizes="auto">
      </figure>

    {% endif %}
  {% endif %}
{% endmacro %}
