/* -------------------------------------------------- */
/*    Button Group
/* -------------------------------------------------- */

.m-buttonGroupWrapper {
  display: flex;
  flex-direction: column;

  @include media('>=m') {
    @include make-col(8);
    @include offset(2);
  }
}

.m-buttonGroup {
  display: flex;
  flex: row wrap;
  justify-content: flex-start;

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--full {
    .m-button {
      flex: 1 1 auto;
    }
  }

  .m-button {
    display: inline-block;
    float: left;
    width: auto !important;
    border-radius: 0 !important;
    border-right: 1px solid c('black', '60');
    text-align: center;

    &--primary {
      border-right: 1px solid c('black');
    }

    &--secondary {
      border-right: 1px solid c('black', '30');
    }

    &:first-child {
      border-radius: 3px 0 0 3px !important;
    }

    &:last-child {
      border-radius: 0 3px 3px 0 !important;
      border-right: 0;
    }
  }
}
