/* -------------------------------------------------- */
/*    Push
/* -------------------------------------------------- */

@mixin push($columns, $context: $dh-columns) {
  position: relative;
  @if $columns == 0 {
    left: auto;
  } @else {
    left: calc(#{$columns} / #{$context} * 100%);
  }
}
