/* -------------------------------------------------- */
/*    Image Slider
/* -------------------------------------------------- */

@import '../../../../assets/css/vendors/flickity/flickity';

.m-imageSlider {
  @include fc(12);
  @include ft(s(1.5), s(3), padding-left padding-right);
  margin-bottom: 0;

  &--with-navi {
    padding-bottom: s(4);
  }

  &::after {
    content: 'flickity';
    display: none;

    /*@include media('>=s') {
      content: 'flickity';
      display: none;
    }*/
  }
}

.m-imageSlider__slide {
  width: 100%;
  float: left;
  @include ft(s(0.5), s(1), padding-left padding-right);

  .m-figure {
    margin-bottom: 0;
  }

  .m-figure__image {
    width: 100%;
  }
}

// Flickity Styling
.m-imageSlider {
  .flickity-viewport {
    overflow: visible;
  }

  .flickity-page-dots {
    list-style: none;
    height: 50px;
    bottom: 0;
    height: s(4);
    display: flex;
    flex: row wrap;
    justify-content: center;
    align-items: center;
    display: none;

    @include media('>=s') {
      display: flex;
    }

    .dot {
      width: 5px;
      height: 5px;
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  // Arrows
  .flickity-prev-next-button {
    background: none;
    border-radius: 0;
    width: 80px;
    height: s(4);
    margin: 0;
    top: auto;
    bottom: 0;
    cursor: pointer;
    padding: 0;
    z-index: 50;
    transform: none;
    background-size: auto 24px;
    background-repeat: no-repeat;
    transition: background-position 0.25s ease-out;

    &:disabled {
      opacity: 0;
    }

    svg {
      display: none;
    }

    &.previous {
      background: url('../images/svg/single/iconArrowLeft.svg');
      background-repeat: no-repeat;
      background-position: center left s(2);
      @include ft(s(2), s(4), left);

      &:hover {
        background-position: center left;
      }
    }

    &.next {
      background: url('../images/svg/single/iconArrowRight.svg');
      background-repeat: no-repeat;
      background-position: center right s(2);
      @include ft(s(2), s(4), right);

      &:hover {
        background-position: center right;
      }
    }
  }
}
