/* -------------------------------------------------- */
/*    Button
/* -------------------------------------------------- */

.m-button {
  $root: &;
  display: flex;
  flex-direction: column;

  @include media('>=m') {
    @include make-col(8);
    @include offset(2);
  }

  &__inner {
    @include make-vr();
    align-self: flex-start;
    font-size: fs('ms0');
    color: c('white');
    background-color: c('black-50');
    text-decoration: none;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding: s(1) s(2);

    &:hover {
      color: c('white');
      background-color: c('black');
    }

    svg {
      fill: c('white');
    }
  }

  &__inner--primary {
    color: c('white');
    background-color: c('black-90');
  }

  &__inner--primary:hover {
    color: c('white');
    background-color: c('black');
  }

  &__inner--secondary {
    color: c('black-60');
    font-size: fs('ms-1');
    background-color: c('black-20');
  }

  &__inner--secondary:hover {
    color: c('black-70');
    background-color: c('black-30');
  }

  &__inner--left {
    align-self: flex-start;
  }

  &__inner--center {
    align-self: center;
  }

  &__inner--right {
    align-self: flex-end;
  }

  &__inner--full {
    width: 100%;
  }
}

