/* -------------------------------------------------- */
/*    Category Nav
/* -------------------------------------------------- */

.m-navCategoriesWrapper {
  .p-home & {
    @include media('>=m') {
      @include make-col(8);
      @include offset(2);
    }
  }
}

.m-navCategories {
  $root: &;
  opacity: 0;
  transition: opacity 0.25s ease('out-cubic');

  &.is-visible {
    opacity: 1;
  }

  /* stylelint-disable */
  .flickity-viewport {
    @extend .t-overflowTouch;
    touch-action: pan-y !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  /* stylelint-enable */

  &__slide {
    @include make-vr();
    display: inline-block;
    margin-right: s(4);
    margin-bottom: s(2);
    white-space: nowrap;
    font-size: fs('ms-2');
    text-transform: uppercase;

    &::before {
      display: none;
    }

    &.is-active #{$root}__link {
      color: c('red');
    }
  }

  &__link {
    display: inline-block;

    &::before {
      content: '#';
    }
  }
}
