/* -------------------------------------------------- */
/*    Embed
/* -------------------------------------------------- */

.m-embed {
  @include fc(12);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.m-embed__item {
  width: 100%;
  @include f(s(2), s(4), padding-left padding-right);
}

.m-embed__video {
  iframe {
    width: 100%;
    height: 100%;
  }
}

// Embed Position
.m-embed--align-left {
  .m-embed__item {
    align-self: flex-start;
  }
}

.m-embed--align-center {
  .m-embed__item {
    align-self: center;
  }
}

.m-embed--align-right {
  .m-embed__item {
    align-self: flex-end;
  }
}

// Embed Width
.m-embed--width-full {
  @include media('>=m') {
    .m-embed__item {
      width: 100%;
    }
  }
}

.m-embed--width-threeQuarter {
  @include media('>=m') {
    .m-embed__item {
      width: 75%;
    }
  }
}

.m-embed--width-half {
  @include media('>=m') {
    .m-embed__item {
      width: 50%;
    }
  }
}
