/* -------------------------------------------------- */
/*    Image Grid
/* -------------------------------------------------- */

.m-imageGrid {
  @include fb();
  width: auto;
  @include ft(s(-1), s(-2), margin-left margin-right);
  @include ft(s(-2), s(-4), margin-top);

  &__figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    @include ft(s(2), s(4), margin-top);
    @include ft(s(1), s(2), padding-left padding-right);
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__caption {
    margin-top: s(1);
  }

  @include media('>=s') {
    &--3columns {
      .m-imageGrid__figure {
        width: calc(100% / 3);
      }
    }

    &--2columns {
      .m-imageGrid__figure {
        width: calc(100% / 2);
      }
    }

    &--1columns {
      .m-imageGrid__figure {
        width: 100%;
      }
    }
  }
}
