{#
  Pagination
  ==========
  Powered by Kittn Generator: http://kittn.de/
  Generate navigation buttons for paginations
  It use the Pagination Module, include before the Loop `{% paginate entries as pageInfo, pageEntries %}`

  @param {object}  pages                 - Pagination Object
  @param {object}  craft                 - Craft Request Object
  @param {object}  options               - Array of options
  @param {string}  options.classnamename         - Classname (default: 'o-pagination')
  @param {string}  options.searchquery   - To pass search words from Searchfields (default: false)
  @param {string}  options.prevText      - Titletext for Prev
  @param {string}  options.nextText      - Titletext for Next
#}
{% macro paginationSimple(pages,craft,options) %}
  {% set defaults = {
    classname: 'm-paginationSimple',
    searchquery: false,
    prevText: 'Zurück',
    nextText: 'Nächste Seite',
  } %}
  
  {# Merge Options with Defaults #}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
  
  {# Add Pagination only if the Page Number is higher than 1#}
  {% if pages.totalPages > 1 %}
    <div class="o-col  {{ options.classname ~ 'Wrapper' }}">
      <nav class="{{ options.classname }}" role="navigation">
        
        {# Display the Previous Link if available #}
        {% if pages.prevUrl %}
          <a class="{{ options.classname ~ '__link' }}  {{ options.classname ~ '__link--prev' }}" href="{{ pages.prevUrl }}{{ options.searchquery ? '?q='~options.searchquery }}" title="{{ options.prevText }}">{{ options.prevText }}</a>
        {% endif %}
        
        {# Display next Page Link if available#}
        {% if pages.nextUrl %}
          <a class="{{ options.classname ~ '__link' }}  {{ options.classname ~ '__link--next' }}" href="{{ pages.nextUrl }}{{ options.searchquery ? '?q='~options.searchquery }}" title="{{ options.nextText }}">{{ options.nextText }}</a>
        {% endif %}
      </nav>
    </div>
  {% endif %}
{% endmacro %}
