/*--------------------------------------------------
    .c-appWrapper
  --------------------------------------------------*/

.c-appWrapper {
  font-weight: 400;
  color: c('black-90');
  background: c('white');

  .wf-active & {
    font-family: ff('base');
  }
}
