/*--------------------------------------------------
    .c-appWrapper
  --------------------------------------------------*/

.c-appWrapper {
  font-family: ff('base');
  font-weight: 400;
  color: c('black-90');
  background: c('white');
}
