/* -------------------------------------------------- */
/*    .o-wrapper
/* -------------------------------------------------- */

.o-wrapper {
  @include clearfix;
  padding-left: s(2);
  padding-right: s(2);
  margin-right: auto;
  margin-left: auto;
  max-width: $dh-maxWidth;
}


// Size variants
.o-wrapper--small {
  padding-left: s(4);
  padding-right: s(4);
}

.o-wrapper--large {
  padding-left: s(6);
  padding-right: s(6);
}

.o-wrapper--huge {
  padding-left: s(8);
  padding-right: s(8);
}
