/* -------------------------------------------------- */
/*    COLOR
/*    Use Name that Color for your naming
/*    URL: http://www.color-blindness.com/color-name-hue
/* -------------------------------------------------- */

// Shades of Gray
$color__white:                         #fff;
$color__black:                         #000;

// Colored
$color__red:                           #F44336;
$color__green:                         #4CAF50;
$color__blue:                          #2196F3;

$dh-grayShades: (
  'white': (
    'base': $color__white,
    'dark': darken($color__white, 10%),
    'light': lighten($color__white, 10%),
    'trans': rgba($color__white, 0.5),
  ),
  'black': (
    'base': $color__black,
    '05': darken($color__white, 5%),
    '10': darken($color__white, 10%),
    '15': darken($color__white, 15%),
    '20': darken($color__white, 20%),
    '25': darken($color__white, 25%),
    '30': darken($color__white, 30%),
    '35': darken($color__white, 35%),
    '40': darken($color__white, 40%),
    '45': darken($color__white, 45%),
    '50': darken($color__white, 50%),
    '55': darken($color__white, 55%),
    '60': darken($color__white, 60%),
    '65': darken($color__white, 65%),
    '70': darken($color__white, 70%),
    '75': darken($color__white, 75%),
    '80': darken($color__white, 80%),
    '85': darken($color__white, 85%),
    '90': darken($color__white, 90%),
    '95': darken($color__white, 95%),
    'trans': rgba($color__black, 0.5),
  )
);

$dh-colored: (
  'red': (
    'base': $color__red,
    'dark': darken($color__red, 10%),
    'light': lighten($color__red, 10%),
    'trans': rgba($color__red, 0.5),
  ),
  'green': (
    'base': $color__green,
    'dark': darken($color__green, 10%),
    'light': lighten($color__green, 10%),
    'trans': rgba($color__green, 0.5),
  ),
  'blue': (
    'base': $color__blue,
    'dark': darken($color__blue, 10%),
    'light': lighten($color__blue, 10%),
    'trans': rgba($color__blue, 0.5),
  ),
);


// Merge Gray Shades and Colored Map
$dh-colors: map-merge($dh-colored, $dh-grayShades);
