/* -------------------------------------------------- */
/*    Image Cover
/* -------------------------------------------------- */

.m-imageCoverWrapper {
  // empty
}

.m-imageCover {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  @include make-vr();

  .m-bgImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    margin-top: 0;
  }

  &__titleWrapper {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background-image: linear-gradient(to top, rgba(c('black'), 0.5) 0, rgba(c('black'), 0) 50%);
    color: c('white');
    @include f(fs('ms2'), fs('ms8'));
  }

  &--text-left & {
    text-align: left;
  }

  &--text-center & {
    text-align: center;
  }

  &--text-right & {
    text-align: right;
  }

  &--vPosition-top & {
    background-image: linear-gradient(to bottom, rgba(c('black'), 0.5) 0, rgba(c('black'), 0) 50%);
    bottom: auto;
    top: 0;
  }

  &--vPosition-center & {
    background: rgba(c('black'), 0.5);
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  &--vPosition-bottom & {
    background-image: linear-gradient(to top, rgba(c('black'), 0.5) 0, rgba(c('black'), 0) 50%);
    bottom: 0;
  }

  &__title {
    @include f(s(2), s(8), padding-top padding-bottom);
    @include f(s(1), s(2), padding-left padding-right);
    position: absolute;
    z-index: 30;
    width: 100%;
    bottom: 0;
    left: 0;
    font-weight: 700;
  }
}
