/* -------------------------------------------------- */
/*    Border Radius
/* -------------------------------------------------- */

$border-radius-level-0: 0px;
$border-radius-level-1: 2px;
$border-radius-level-2: 5px;
$border-radius-level-3: 10px;
$border-radius-level-4: 25px;
$border-radius-level-5: 500px;

$dh-borderradius: (
  '0':      $border-radius-level-0,
  '1':      $border-radius-level-1,
  '2':      $border-radius-level-2,
  '3':      $border-radius-level-3,
  '4':      $border-radius-level-4,
  '5':      $border-radius-level-5,
);
