/* -------------------------------------------------- */
/*    Font Sizes
/* -------------------------------------------------- */
// Dependencies
@import '../______tools/tools.function.pow';

// Settings
$fontSize-min:          16px;
$fontSize-max:          21px;
$lineHeight-base:       1.5;
$lineHeight-base-px:    $fontSize-min * $lineHeight-base + 0px;

// Modular Scale Settings
$msWidth-min:           320px;
$msWidth-max:           1440px;
$msFactor:              1.2;

// Nothing to change here
$ms-2:                  12px;
$ms-1:                  15px;
$ms0:                   $fontSize-min;
$ms1:                   $fontSize-min * pow($msFactor, 1);
$ms2:                   $fontSize-min * pow($msFactor, 2);
$ms3:                   $fontSize-min * pow($msFactor, 3);
$ms4:                   $fontSize-min * pow($msFactor, 4);
$ms5:                   $fontSize-min * pow($msFactor, 5);
$ms6:                   $fontSize-min * pow($msFactor, 6);
$ms7:                   $fontSize-min * pow($msFactor, 7);
$ms8:                   $fontSize-min * pow($msFactor, 8);
$ms9:                   $fontSize-min * pow($msFactor, 9);
$msFont-min:            $fontSize-min;
$msFont-max:            $fontSize-max;

// Font Map
$dh-fontsizes: (
  'ms-2':               $ms-2,
  'ms-1':               $ms-1,
  'ms0':                $ms0,
  'ms1':                $ms1,
  'ms2':                $ms2,
  'ms3':                $ms3,
  'ms4':                $ms4,
  'ms5':                $ms5,
  'ms6':                $ms6,
  'ms7':                $ms7,
  'ms8':                $ms8,
  'ms9':                $ms9,
);
