/*--------------------------------------------------
    #FONT SIZES
  --------------------------------------------------*/

$font-size-base:        16px;
$line-height-base:      1.5;
$line-height-base-px:   $font-size-base * $line-height-base + 0px;



// Modular Scale Settings
$dh-msWidthMin:         320px;
$dh-msWidthMax:         1440px;
$dh-ms:                 1.2;

$dh-ms1:                $dh-ms;
$dh-ms2:                $dh-ms * $dh-ms;
$dh-ms3:                $dh-ms * $dh-ms * $dh-ms;
$dh-ms4:                $dh-ms * $dh-ms * $dh-ms * $dh-ms;
$dh-ms5:                $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms;
$dh-ms6:                $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms;
$dh-ms7:                $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms;
$dh-ms8:                $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms;
$dh-ms9:                $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms;
$dh-msFontMin:          $font-size-base;
$dh-msFontMax:          $font-size-base * $dh-ms * $dh-ms;



// Font Map
$dh-fontsizes: (
  'xs':     12px,
  's':      15px,
  'base':   $dh-msFontMin,
  'm':      $dh-msFontMin * $dh-ms,
  'l':      $dh-msFontMin * $dh-ms * $dh-ms,
  'xl':     $dh-msFontMin * $dh-ms * $dh-ms * $dh-ms,
  'xxl':    $dh-msFontMin * $dh-ms * $dh-ms * $dh-ms * $dh-ms,
  'xxxl':   $dh-msFontMin * $dh-ms * $dh-ms * $dh-ms * $dh-ms * $dh-ms,
);
