/* -------------------------------------------------- */
/*    Font Family
/* -------------------------------------------------- */

$font-family-base:      'Roboto', Georgia, "Times New Roman", Times, serif;
$font-family-headline:  'Playfair Display', Helvetica, Arial, sans-serif;

$dh-fontfamilies: (
  'base':               $font-family-base,
  'headline':           $font-family-headline,
);
