/* -------------------------------------------------- */
/*    Image Single
/* -------------------------------------------------- */

.m-imageSingle {
  @include fc(12);

  .m-figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
  }

  .m-figure__image {
    @include ft(s(1), s(2), padding-left padding-right);
    width: 100%;
  }

  .m-figure__imageBackground {
    background-color: c('black');
  }
}

// Image Position
.m-imageSingle--image-left {
  .m-figure__image {
    float: left;
  }
}

.m-imageSingle--image-center {
  .m-figure__image {
    float: none;
    margin: 0 auto;
  }
}

.m-imageSingle--image-right {
  .m-figure__image {
    float: right;

    @include media('>=m') {
      order: 1;
    }
  }
}

// Image Width
.m-imageSingle--image-full {
  @include media('>=m') {
    .m-figure__image {
      width: 100%;
    }

    .m-caption {
      width: 100%;
      margin-top: vr(1/2);
    }
  }
}

.m-imageSingle--image-threeQuarter {
  @include media('>=m') {
    .m-figure__image {
      width: 75%;
    }

    .m-caption {
      width: 25%;
    }
  }
}

.m-imageSingle--image-half {
  @include media('>=m') {
    .m-figure__image {
      width: 50%;
    }

    .m-caption {
      width: 50%;
    }
  }
}
