/* --------------------------------------------------

   .o-appWrapper
   -------------------------------------------------- */

.o-appWrapper {
  opacity: 0;
  transition: all 1.5s ease-out;

  @include breakpoint('l') {
    padding: 50px;
  }
}

.is_ready .appWrapper {
  opacity: 1;
}
