{#
  Neuigkeiten Template
  ====================
#}

{# -- Macros -- #}
{% import '_macros/_macro-pagination.html' as macroPagination %}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-neuigkeiten" %}
{% set seomaticMeta = seomaticMeta | merge({'seoTitle': category }) %}

{# Set Query #}
{% set data = craft.entries({
  section: 'neuigkeiten',
  relatedTo: craft.categories.slug(category.slug),
  limit: 12
}) %}


{% paginate data as pageInfo, pageEntries %}

{# start: Rel Nav #}
{% block siteHeader %}
  {% set vars = {
  pageInfo: pageInfo
  } %}
  {% include '_partials/_header/_siteHeaderLinks.html' with vars %}
{% endblock %}


{% block appContent %}

  {# Include Page Title #}
  {% set pageTitle = {
    object: category,
  } %}
  {% include '_modules/_pageTitle/_template.html' with { options: pageTitle } %}

  <div class="m-news">
    {% for entry in pageEntries %}
      {# Include Referenz #}
      {#{% include '_modules/_newsSingle/_newsSingle.template.html' %}#}
    {% endfor %}
  </div>

  {# Pagination #}
  {{ macroPagination.pagination(pageInfo,craft) }}
{% endblock %}
