/* --------------------------------------------------

   App Wrapper
   -------------------------------------------------- */

.appWrapper {
  opacity: 0;
  transition: all 1.5s ease-out;

  @include breakpoint('l') {
    padding: 50px;
  }
}

.is_ready .appWrapper {
  opacity: 1;
}



/* --------------------------------------------------

   App Content
   -------------------------------------------------- */

.appContent {
  @include col(12);

  @include breakpoint('l') {
    @include col(8);
  }
}



/* --------------------------------------------------

   Lazy Loading
   -------------------------------------------------- */

.lazyload,
.lazyloading {
  opacity: .25;
}

.lazyloaded {
  opacity: 1;
  transition: all .75s ease-out;
}



/* --------------------------------------------------

   Waypoints
   -------------------------------------------------- */

.waypointElement {
  &.fadeInUp {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  &.fadeInDown {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }

  &.fadeInLeft {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  &.fadeInRight {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }
}
