/* -------------------------------------------------- */
/*    Caption
/* -------------------------------------------------- */

.m-caption {
  width: 100%;
  font-size: fs('ms-2');
  color: c('black', '50');
  margin-top: s(1);

  .wf-loaded & {
    font-family: ff('sans-serif');
  }

  @include media('>=m') {
    margin-top: 0;
  }
}

.m-caption__headline {
  font-weight: 700;
  color: c('black', '90');
}

.m-caption__body {
  margin-bottom: s(1);
}

.m-caption__link {
  /* empty */
}
