/* -------------------------------------------------- */
/*    Grid Float
/* -------------------------------------------------- */

// Container Floating Grid
// @include container(); // full for 100%
@mixin container($maxWidth: false) {
  width: 100%;

  // if $maxWidth: true
  @if $maxWidth {
    max-width: $dh-maxWidth;
  } @else {
    max-width: none;
  }

  // Include Clearfix
  @include clearfix();
}



// Cols Floating Grid
//Optional Setting to remove default gutter
//@include cols(x)
@mixin cols($i) {

  // If columns > $dh-columns set it to this maximum
  @if $i > $dh-columns {
    $i: $dh-columns;
  }

  width: ($i / $dh-columns * 100%);
  float: left;
}


