/* -------------------------------------------------- */
/*    Pull
/* -------------------------------------------------- */

@mixin pull($columns, $context: $dh-columns) {
  position: relative;
  @if $columns == 0 {
    right: auto;
  } @else {
    right: $columns / $context * 100%;
  }
}
