/*--------------------------------------------------
    #GRID FLEX
  --------------------------------------------------*/

// Container Flexbox Grid
// @include container(); // full for 100%
@mixin flexbox($maxWidth: false) {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  @if $maxWidth {
    max-width: $dh-maxWidth;
  } @else {
    max-width: none;
  }
}

// Shorthand Version
@mixin fb($args...) {
  @include flexbox($args...);
}



// Cols Floating Grid
//Optional Setting to remove default gutter
//@include cols(x)
@mixin cols($i) {

  // If columns > $dh-columns set it to this maximum
  @if $i > $dh-columns {
    $i: $dh-columns;
  }

  width: ($i / $dh-columns * 100%);
  float: left;
}
