/* -------------------------------------------------- */
/*    Calc REM
/* -------------------------------------------------- */

$dh-browserContext: 16;

@function calc-rem($pixels, $context: $dh-browserContext) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
