/* -------------------------------------------------- */
/*    Pull
/* -------------------------------------------------- */

@mixin pull($columns) {
  position: relative;
  @if $columns > 0 {
    right: $columns / 12 * 100%;
  } @else if $i < 1 {
    right: auto;
  }
}
