/* -------------------------------------------------- */
/*    Pull
/* -------------------------------------------------- */

@mixin pull($columns, $context: $dh-columns) {
  position: relative;
  @if $columns == 0 {
    right: auto;
  } @else {
    right: calc(#{$columns} / #{$context} * 100%);
  }
}
