/* -------------------------------------------------- */
/*    Font Size
/* -------------------------------------------------- */

@function fontsize($key) {
  @if map-has-key($dh-fontsizes, $key) {
    @return map-get($dh-fontsizes, $key);
  }

  @warn "Unknown `#{$key}` in $dh-fontsizes.";
  @return null;
}

// Shorthand Version
@function fs($key) {
  @return fontsize($key);
}


@mixin fontsize($key, $lineHeight: $lineHeight-base ) {
  font-size: fs($key);
  line-height: $lineHeight;
}

// Shorthand Version
@mixin fs($args...) {
  @include fontsize($args...);
}

