{#
  Prev / Next Link
  --------------------------------------------------

  {{ macroPostNav.postNav(entry, 'work', 'postDate', 'prev work', 'next work' ) }}
#}

{% macro postNav(entry, section, order, prevLabel, nextLabel, prevIcon, nextIcon) %}

  {# Set vars #}
  {% set section     = section|default('blog') %}
  {% set order       = order|default('postDate') %}
  {% set prevLabel   = prevLabel|default(false) %}
  {% set nextLabel   = nextLabel|default(false) %}
  {% set prevIcon    = prevIcon|default(false) %}
  {% set nextIcon    = nextIcon|default(false) %}

  {# Set parameters for prev/next elements list #}
  {% set data = craft.entries.section(section).order(order).limit(null) %}

  {# Get the prev/next elements #}
  {% set prevEntry = entry.getPrev(data) %}
  {% set nextEntry = entry.getNext(data) %}

  {# And make sure to only output the links if the element exists #}
  {% if prevEntry or nextEntry %}


    <nav class="m-postNav">
      {% if prevEntry %}
        <div class="m-postNav__item  m-postNav__item--prev">
          <a class="m-postNav__link  m-postNav__link--prev" href="{{ prevEntry.url }}">
            {% if prevIcon != false %}
              {% include '_svg/' ~ prevIcon ~ '.svg.html' %}
            {% endif %}

            {% if prevLabel != false %}
              <span class="m-postNav__label">{{ prevLabel }}</span>
            {% endif %}

            <span class="m-postNav__title">{{ prevEntry.title }}</span>
          </a>
        </div>
      {% endif %}
      {% if nextEntry %}
        <div class="m-postNav__item  m-postNav__item--next">
          <a class="m-postNav__link  m-postNav__link--next" href="{{ nextEntry.url }}">
            {% if nextLabel != false %}
              <span class="m-postNav__label">{{ nextLabel }}</span>
            {% endif %}

            <span class="m-postNav__title">{{ nextEntry.title }}</span>

            {% if nextIcon != false %}
              {% include '_svg/' ~ nextIcon ~ '.svg.html' %}
            {% endif %}
          </a>
        </div>
      {% endif %}
    </nav>
  {% endif %}

{% endmacro %}
