{#
  A&M Nav
  =======

  {{ macroAmNav.amNav(node, loop.index) }}
#}

{% macro amNav(node, index) %}
  {%- set nodeClasses = [] -%}
  {%- if node.hasChildren -%}
    {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
  {%- endif -%}
  {%- if node.active or node.hasActiveChild -%}
    {%- set nodeClasses = nodeClasses|merge(['is-active']) -%}
  {%- endif -%}
  {%- if node.level == 1 and index == 1 -%}
    {%- set nodeClasses = nodeClasses|merge(['is-first']) -%}
  {%- endif -%}
  {%- if node.listClass|length -%}
    {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
  {%- endif -%}

  <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
    <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
    {% if node.hasChildren %}
      <ul class="m-mainNav__subList  m-mainNav__subList--{{ (node.level + 1) }}">
        {% for subnode in node.children %}
          {{ _self.addNodeToNavigation(subnode, loop.index) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}
