{#
 Macro Collection
 --------------------------------------------------

 A lot examples to see. Feel free to use / modify this macros or delete them.
#}


{# Set Attributes
  {% set attr = {
    image: '',
    class: 'm-image',
    sizes: [
      { width: 1680 },
      { width: 960 },
      { width: 480 }
    ],
    style: 'img',
    quality: 80,
    mode: 'crop',
    position: '50% 50%',
    ratio: '',
    caption: '',
    dominantColor: '',
    effects: { grayscale: true },
  } %}

  _m.resImage(attr)
#}

{% macro resImage(attr) %}

  {# Set Defaults #}
  {% set defaults = {
  image: '',
  class: 'm-image',
  sizes: [
  { width: 1680 },
  { width: 960 },
  { width: 480 }
  ],
  style: 'img',
  quality: 80,
  mode: 'crop',
  position: '',
  ratio: '',
  caption: '',
  dominantColor: '',
  effects: {},
  } %}

  {% if attr.image|length %}
    {# Merge Attr with Defaults #}
    {% set attr = attr ? defaults|merge(attr) : defaults %}

    {# Set Ratio #}
    {% if attr.ratio|length %}
      {% set ratio = attr.ratio|split(':') %}
      {% set base64Ratio = attr.ratio|split(':') %}
      {% set ratio = ratio|first/ratio|last %}
    {% else %}
      {% set imageSize = attr.image.width ~ ':' ~ attr.image.height %}
      {% set base64Ratio = imageSize|split(':') %}
      {% set ratio = '' %}
    {% endif %}


    {# Set Position #}
    {% if attr.position %}
      {% set position = attr.position %}
    {% elseif attr.image.settingFocalPoint | length %}
      {% set position = attr.image.settingFocalPoint %}
    {% else %}
      {% set position = '50% 50%' %}
    {% endif %}


    {# Define global variables #}
    {% set imageSettings = {
    jpegQuality: attr.quality,
    mode: attr.mode,
    position: position,
    ratio: ratio,
    effects: attr.effects
    } %}

    {# Image #}
    {% set images = craft.imager.transformImage(attr.image, attr.sizes, imageSettings) %}

    {# Set Dominant Color #}
    {% if attr.dominantColor|length %}
      {% set dominantColor = attr.dominantColor %}
    {% elseif attr.dominantColor %}
      {% set dominantColor = craft.imager.getDominantColor(images|last, 20) %}
    {% else %}
      {% set dominantColor = '' %}
    {% endif %}

    {% if attr.style == 'img' %}
      <figure class="{{ attr.class }}"
              style="{{ dominantColor | length ? 'background-color:' ~  dominantColor ~ ';': '' }}">
        <img class="lazyload  {{ attr.class ~ '__image' }}"
             src="{{ images|last.url }}"
             srcset="{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}"
             data-srcset="{{ craft.imager.srcset(images) }}"
             data-sizes="auto"
             alt="{{ attr.image.title }}"/>
        {% if attr.caption|length %}
          <figcaption>
            {{ attr.caption|raw }}
          </figcaption>
        {% endif %}
      </figure>

    {% else %}

      <figure class="{{ attr.ratio | length ? 'o-ratio  o-ratio--' ~ attr.ratio : '' }}  {{ attr.class }}  lazyload"
              style="background-image: url('{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}');
                background-position: {{ position }};
              {{ not attr.ratio | length ? 'padding-bottom:' ~ images[0].height / images[0].width * 100 ~ '%;' : '' }} {{ dominantColor | length ? 'background-color:' ~  dominantColor ~ ';': '' }}"
              data-bgset="{{ craft.imager.srcset(images) }}"
              data-sizes="auto">
      </figure>

    {% endif %}
  {% endif %}
{% endmacro %}



{#
  Social Links Array
  --------------------------------------------------

  {{ macros.socialLinks([
    'twitter',
    'facebook',
    'xing'
  ], true) }}
#}

{% macro socialLinks(networks, icons, label) %}
  <ul class="socialLinks__list">
    {# Loop for each network #}
    {% set icons = icons|default(false) %}
    {% set label = label|default(false) %}
    {% for network in networks %}
      {# Loop through all networks #}
      {% for sn in socialNetworks.socialLinks %}
        {% if sn.linkText|lower == network %}
          <li class="socialLinks__item  socialLinks__item--{{ sn.linkText|lower }}">
            <a class="socialLinks__link"
               href="{{ sn.customLink.url }}" {{ sn.customLink.target ? ' target="_blank"' }}>

              {% if icons == true and label == true %}

                <svg class="svgSprite  svgSprite--icon_{{ sn.linkText|lower }}" viewbox="0 0 48 48">
                  <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon_{{ sn.linkText|lower }}"></use>
                </svg>
                <span class="socialLinks__label">{{ sn.linkText }}</span>

              {% elseif icons == true %}

                <svg class="svgSprite  svgSprite--icon_{{ sn.linkText|lower }}" viewbox="0 0 48 48">
                  <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon_{{ sn.linkText|lower }}"></use>
                </svg>

              {% else %}

                {{ sn.linkText }}

              {% endif %}

            </a>
          </li>
        {% endif %}
      {% endfor %}

    {% endfor %}
  </ul>
{% endmacro %}



{#
  Set Active Class
  --------------------------------------------------

  {{ macros.is_active('news') }}
#}

{% macro is_active(segment) %}
  {% if craft.request.firstSegment == segment %}is_active{% endif %}
{% endmacro %}



{#
  Use SVG
  --------------------------------------------------

  {{ macros.use_svg(icon_twitter) }}
#}

{% macro use_svg(spriteName) %}
  <svg class="m-svgSprite m-svgSprite--{{ spriteName }}" viewbox="0 0 100 100">
    <use xlink:href="/assets/images/svg/sprite/sprite.svg#{{ spriteName }}"></use>
  </svg>
{% endmacro %}



{#
  Pagination
  --------------------------------------------------

  Generate navigation buttons for paginations

  @param {object}  pages       - Pagination Object
  @param {object}  craft       - Craft Request Object
  @param {string}  classname   - Classname (default: 'pagination')
  @param {string}  searchquery - To pass search words from Searchfields (default: false)
#}

{% macro pagination(pages,craft,searchquery,classname) %}
  {% set search = searchquery|default(false) %}
  {% set class = classname|default('m-pagination') %}

  {# Add Pagination only if the Page Number is higher than 1#}
  {% if pages.totalPages > 1 %}

    <nav class="{{ class }}" role="navigation">
      {# Dont display last page when on the first Page #}
      {% if pages.currentPage > 2 and pages.prevUrl %}
        <a class="{{ class }}__link" href="{{ pages.firstUrl }}{{ search ? '?q='~search }}"
           title="Back to the first page">
          &laquo;
        </a>
      {% endif %}

      {# Display the Previous Link if available #}
      {% if pages.prevUrl %}
        <a class="{{ class }}__link" href="{{ pages.prevUrl }}{{ search ? '?q='~search }}"
           title="Back to the previous page">
          &lsaquo;
        </a>
      {% endif %}

      {# Display prev 5 Page Links#}
      {% for page, url in pages.getPrevUrls(3) %}
        <a class="{{ class }}__link  {{ class }}__link--number" href="{{ url }}{{ search ? '?q='~search }}"
           title="Go to page {{ page }}">
          {{ page }}
        </a>
      {% endfor %}

      {# Diplay Current Page#}
      <span class="{{ class }}__link  {{ class }}__link--current">
        {{ pages.currentPage }}
      </span>

      {# Display next 5 Page Links #}
      {% for page, url in pages.getNextUrls(3) %}
        <a class="{{ class }}__link  {{ class }}__link--number" href="{{ url }}{{ search ? '?q='~search }}"
           title="Go to page {{ page }}">
          {{ page }}
        </a>
      {% endfor %}

      {# Display next Page Link if available#}
      {% if pages.nextUrl %}
        <a class="{{ class }}__link" href="{{ pages.nextUrl }}{{ search ? '?q='~search }}"
           title="Forward to the next page">
          &rsaquo;
        </a>
      {% endif %}

      {# Dont display when on the last page #}
      {% if (pages.totalPages - 1) > pages.currentPage and pages.totalPages > 2 %}
        <a class="{{ class }}__link" href="{{ pages.lastUrl }}{{ search ? '?q='~search }}"
           title="Forward to the last page">
          &raquo;
        </a>
      {% endif %}
    </nav>
  {% endif %}
{% endmacro %}




{#
  Prev / Next Link
  --------------------------------------------------

  {{ macros.postNav(entry, 'work', 'postDate', 'prev work', 'next work' ) }}
#}

{% macro postNav(entry, section, order, prevLabel, nextLabel, prevIcon, nextIcon) %}

  {# Set vars #}
  {% set section     = section|default('blog') %}
  {% set order       = order|default('postDate') %}
  {% set prevLabel   = prevLabel|default(false) %}
  {% set nextLabel   = nextLabel|default(false) %}
  {% set prevIcon    = prevIcon|default(false) %}
  {% set nextIcon    = nextIcon|default(false) %}

  {# Set parameters for prev/next elements list #}
  {% set data = craft.entries.section(section).order(order).limit(null) %}

  {# Get the prev/next elements #}
  {% set prevEntry = entry.getPrev(data) %}
  {% set nextEntry = entry.getNext(data) %}

  {# And make sure to only output the links if the element exists #}
  {% if prevEntry or nextEntry %}


    <ul class="c-postNav">
      {% if prevEntry %}
        <li class="c-postNav__item  c-postNav__item--prev">
          <a class="c-postNav__link  c-postNav__link--prev" href="{{ prevEntry.url }}">
            {% if prevIcon != false %}
              {{ _self.use_svg(prevIcon) }}
            {% endif %}

            {% if prevLabel != false %}
              <span class="c-postNav__label">{{ prevLabel }}</span>
            {% endif %}

            <span class="c-postNav__title">{{ prevEntry.title }}</span>
          </a>
        </li>
      {% endif %}
      {% if nextEntry %}
        <li class="c-postNav__item  c-postNav__item--next">
          <a class="c-postNav__link  c-postNav__link--next" href="{{ nextEntry.url }}">
            {% if nextLabel != false %}
              <span class="c-postNav__label">{{ nextLabel }}</span>
            {% endif %}

            <span class="c-postNav__title">{{ nextEntry.title }}</span>

            {% if nextIcon != false %}
              {{ _self.use_svg(nextIcon) }}
            {% endif %}
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

{% endmacro %}
