/* -------------------------------------------------- */
/*    Button
/* -------------------------------------------------- */

.m-buttonWrapper {
  @include container();
  @include ft(s(1), s(2), padding-left padding-right);
}

.m-button {
  display: inline-block;
  font-size: fs('ms0');
  text-decoration: none;
  border-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: ff('base-bold');
  letter-spacing: 1.5px;

  .fonts-loaded & {
    font-family: ff('base-bold');
  }
}

.m-button--primary {
  font-size: fs('ms0') * 0.95;
}

.m-button--primary:hover {
  color: c('black');
}

.m-button--secondary {
  font-size: fs('ms0') * 0.84;
  color: c('black-90');
}

.m-button--secondary:hover {
  color: c('black');
}

.m-button--left {
  float: left;
}

.m-button--center {
  @include center();
}

.m-button--right {
  float: right;
}

.m-button--full {
  width: 100%;
}

// With Icon
.m-button__inner {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;

  svg {
    position: relative;
    margin-left: s(1.5);
    transition: fill 0.5s ease-out;

    .t-red & {
      fill: c('prairie-sand')
    }

    .t-yellow & {
      fill: c('gold')
    }
  }
}

.m-button--primary:hover,
.m-button--secondary:hover {
  svg {
    fill: c('black-80');
  }
}
