/* -------------------------------------------------- */
/*    Rich Text Marginals
/* -------------------------------------------------- */

.m-richTextMarginalsWrapper {
  /* No Styles until now */

  .m-quote {
    margin: 0;
  }

  .m-quote p {
    @include f(fs('ms0'), fs('ms1'));
  }

  .m-quote footer {
    @include f(fs('ms-1'), fs('ms-1'));
  }
}

.m-richTextMarginals {
  @include media('>=m') {
    @include make-col(8);
    @include push(2);
  }

  &__aside {
    @include make-col(12);

    @include media('>=m') {
      @include make-col(2);
      position: absolute;
      left: 0;
      top: 0;

      &--right {
        left: auto;
        right: 0;
      }
    }
  }
}
