{#
  Content Builder Modules
  =======================
#}

{% switch data.type %}

  {# Accordion Modul #}
  {% case 'cbmAccordionLabel' %}
    {% include '_cbmects/_cbmAccordionLabel' with { data: data.cbmAccordionLabel, name: '' } %}

  {# Content Section Modul #}
  {% case 'cbmContentSection' %}
    {% include '_cbmects/_cbmContentSection' with { data: data.cbmContentSection, name: '' } %}

  {# Button Modul #}
  {% case 'cbmButton' %}
    {% include '_cbmects/_cbmButton' with { data: data.cbmButton, name: '' } %}

  {# Button Group Modul #}
  {% case 'cbmButtonGroup' %}
    {% include '_cbmects/_cbmButtonGroup' with { data: data.cbmButtonGroup, name: '' } %}

  {# Definiton List Modul #}
  {% case 'cbmDefinitionList' %}
    {% include '_cbmects/_cbmDefinitionList' with { data: data.cbmDefinitionList, name: '' } %}

  {# Embed Modul #}
  {% case 'cbmEmbed' %}
    {% include '_cbmects/_cbmEmbed' with { data: data.cbmEmbed, name: '' } %}

  {# Headline Modul #}
  {% case 'cbmHeadline' %}
    {% include '_cbmects/_cbmHeadline' with { data: data.cbmHeadline, name: '' } %}

  {# Horizontal Ruler Modul #}
  {% case 'cbmHorizontalRuler' %}
    {% include '_cbmects/_cbmHorizontalRuler' with { data: data.cbmHorizontalRuler, name: '' } %}

  {# Image Cover Modul #}
  {% case 'cbmImageCover' %}
    {% include '_cbmects/_cbmImageCover' with { data: data.cbmImageCover, name: '' } %}

  {# Image Gallery Modul #}
  {% case 'cbmImageGallery' %}
    {% include '_cbmects/_cbmImageGallery' with { data: data.cbmImageGallery, name: '' } %}

  {# Image Grid Modul #}
  {% case 'cbmImageGrid' %}
    {% include '_cbmects/_cbmImageGrid' with { data: data.cbmImageGrid, name: '' } %}

  {# Image Slider Modul #}
  {% case 'cbmImageSlider' %}
    {% include '_cbmects/_cbmImageSlider' with { data: data.cbmImageSlider, name: '' } %}

  {# Quote Modul #}
  {% case 'cbmQuote' %}
    {% include '_cbmects/_cbmQuote' with { data: data.cbmQuote, name: '' } %}

  {# Rich Text Modul #}
  {% case 'cbmRichtext' %}
    {% include '_cbmects/_cbmRichtext' with { data: data.cbmRichtext, name: '' } %}

  {# Rich Text Marginal Modul #}
  {% case 'cbmRichtextMarginal' %}
    {% include '_cbmects/_cbmRichtextMarginal' with { data: data.cbmRichtextMarginal, name: '' } %}


{% endswitch %}
