/* -------------------------------------------------- */
/*    .lazyload
/* -------------------------------------------------- */

.lazyload,
.lazyloading {
  opacity: 0.25;
}

.lazyloaded {
  opacity: 1;
  transition: all 1s ease('out-cubic');
}
