/*--------------------------------------------------
    #SCROLL DOWN
  --------------------------------------------------*/

@keyframes scrolldown {
  0% {
    opacity: .25;
    transform: translate3d(-50%, -5px, 0);
  },

  100% {
    opacity: 1;
    transform: translate3d(-50%, 5px, 0);
  }
}
