/* -------------------------------------------------- */
/*    Shared Styles
/* -------------------------------------------------- */

// Same Margins for for Elements
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: vr(1);
}

// Consistent indentation for lists.
dd, ol, ul {

}

::selection {
  background: c('black');
  color: c('white');
}
