/* -------------------------------------------------- */
/*    Button Group
/* -------------------------------------------------- */

.m-buttonGroup {
  @include ft(s(2), s(4), padding-left padding-right);
  display: flex;
  flex: row wrap;
  justify-content: flex-start;

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--full {
    .m-button__link {
      flex: 1 1 auto;
    }
  }

  .m-button__link {
    display: inline-block;
    float: left;
    width: auto !important;
    border-radius: 0 !important;
    border-right: 1px solid c('black-60');
    text-align: center;

    &--primary {
      border-right: 1px solid c('black-60');
    }

    &--secondary {
      border-right: 1px solid c('black-35');
    }

    &:first-child {
      border-radius: 3px 0 0 3px !important;
    }

    &:last-child {
      border-radius: 0 3px 3px 0 !important;
      border-right: none;
    }
  }
}
